<ssn-card title="Cargo" icon="cargo.png">
  <form>
    <div class="row">

      <div class="col-lg-6">
        <div class="form-group row">
          <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="gross_gross_weight">Gross Gross Weight</label>
          <div class="col my-auto">
            <input name="gross_gross_weight" #grossGrossWeight="ngModel" class="form-control form-control-sm" placeholder="Enter air draught" pattern="{{positiveDecimalRegex}}"
              (keypress)="limitInputToPositiveDecimal($event)" (ngModelChange)="grossGrossWeightChanged($event)" [(ngModel)]="cargoModel.grossGrossWeight"
            />
          </div>
        </div>
        <div [hidden]="grossGrossWeight.valid" class="alert alert-danger">
          <li [hidden]="!grossGrossWeight.hasError('pattern')"><small>Wrong format.</small></li>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group row">
          <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="gross_weight">Gross Weight</label>
          <div class="col my-auto">
            <input name="gross_weight" #grossWeight="ngModel" class="form-control form-control-sm" placeholder="Enter air draught" pattern="{{positiveDecimalRegex}}"
              (keypress)="limitInputToPositiveDecimal($event)" (ngModelChange)="grossWeightChanged($event)" [(ngModel)]="cargoModel.grossWeight"
            />
          </div>
        </div>
        <div [hidden]="grossWeight.valid" class="alert alert-danger">
          <li [hidden]="!grossWeight.hasError('pattern')"><small>Wrong format.</small></li>
        </div>
      </div>

    </div>
  </form>
</ssn-card>