<app-ssn-card header="Contact information" icon="contact.png">
  <div class="text-center">
    <label for="contact_info">Select contact information</label>
  </div>
  <ng-select id="contact_info" [items]="contactList" [multiple]="true" [closeOnSelect]="true" bindLabel="contactMedium.contactMediumType"
    placeholder="Select contact mediums" [(ngModel)]="selectedContactModels" (change)="contactMediumSelected()">
  </ng-select>

  <div *ngFor="let contactMedium of selectedContactModels; let i = index" class="form-group row mt-3">
    <div class="col">
      <div class="input-group input-group-sm">

        <div class="input-group-prepend">
          <span class="input-group-text bg-ssn text-white">{{ contactMedium.contactMedium.contactMediumType }}</span>
        </div>

        <input id="contact_value" name="contactValue" type="text" class="form-control form-control-sm" placeholder="Enter {{ contactMedium.contactMedium.contactMediumType }}"
          [(ngModel)]="selectedContactModels[i].contactValue" (ngModelChange)="contactInfoChanged(contactMedium)" />

        <div class="input-group-append">
          <div class="input-group-text bg-ssn text-white">
            <input type="radio" id="{{i}}" name="preferredRadios" [value]="true" [(ngModel)]="selectedContactModels[i].isPreferred" (ngModelChange)="preferredSet(selectedContactModels[i])"
              [checked]="selectedContactModels[i].isPreferred">
            <label class="form-check-label" for="{{i}}">Preferred</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-ssn-card>