<div class="row mb-3">
  <div class="col">
    <app-prev-and-next-poc-table></app-prev-and-next-poc-table>
  </div>
</div>

<!-- Port Call Details -->
<div class="row mb-3">
  <div class="col">
    <app-port-call-details></app-port-call-details>
  </div>
</div>


<!-- FAL forms -->
<div *ngFor="let entry of falForms">
  <div *ngIf="entry.checked" [ngSwitch]="entry.name" class="row mb-3">
    <div *ngSwitchCase="'Cargo'" class="col">
      <app-cargo-info-table [iconPath]="iconPath" [portCallId]="portCallId"></app-cargo-info-table>
    </div>
    <div *ngSwitchCase="'Ship Stores'" class="col">
      <app-ship-stores-info-table [iconPath]="iconPath" [portCallId]="portCallId"></app-ship-stores-info-table>
    </div>
    <div *ngSwitchCase="'Crew'" class="col">
      <app-crew-info-table [iconPath]="iconPath" [portCallId]="portCallId"></app-crew-info-table>
    </div>
    <div *ngSwitchCase="'Pax'" class="col">
      <app-passenger-info-table [iconPath]="iconPath" [portCallId]="portCallId"></app-passenger-info-table>
    </div>
    <div *ngSwitchCase="'DPG'" class="col">
        <app-dpg-confirmation-view [iconPath]="iconPath" [portCallId]="portCallId"></app-dpg-confirmation-view>
      </div>
    <div *ngSwitchCase="'Security'" class="col">
      <app-table-card header="{{entry.name}}" icon="{{entry.icon}}" collapsible=true>
        <div class="text-center my-3">
          <span class="no-wrap">Security/ISPS information has been provided.</span>
        </div>
      </app-table-card>
    </div>
    <div *ngSwitchDefault class="col">
      <app-table-card header="{{entry.name}}" icon="{{entry.icon}}" collapsible=true>
        <div class="text-center my-3">
          <img src="{{iconPath}}warning.png" height="24px" />
          <span class="no-wrap">{{ entry.name }} information</span>
          <span class="no-wrap">is marked for delivery,</span>
          <span class="no-wrap">but no information is provided.</span>
        </div>
      </app-table-card>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <app-user-info-table></app-user-info-table>
  </div>
</div>

<!-- Clearance information -->
<div class="row mb-3">
  <div class="col">
    <app-clearances></app-clearances>
  </div>
</div>