<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="">{{title}}</a>
  
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="menu">Menu</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="user/add">Add User</a></li>
    </ul>
  </div>

  <form class="form-inline">
    <div class="btn-group">
      <button class="btn btn-light">Admin</button>
      <button class="btn btn-outline-light">Log out</button>
    </div>
  </form>

</nav>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>
