.page-content {
    margin-bottom: -100px;
}

.footer-gap {
    height: 100px;
}

footer {
    height: 100px;
    bottom: 0;
    width: 100%;
}

.footer-section {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}