<div class="row mb-3">
  <div class="col">
    <app-table-card header="Crew, Passengers and Dimensions" icon="crew.png" collapsible=true>
      <tbody>
        <tr>
          <td *ngFor="let entry of portCallDetailsInfo" class="no-wrap px-1 mx-1">
            <tr>
              <small>{{entry.description}}</small>
            </tr>
            <tr>
              <div *ngIf="entry.data != null">{{ entry.data }}</div>
              <div *ngIf="entry.data == null" class="font-italic">Not provided.</div>
            </tr>
          </td>
        </tr>
      </tbody>
    </app-table-card>
    <br/>
    <app-crew-listing-table [iconPath]="iconPath" [portCallId]="portCallId"></app-crew-listing-table>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <app-selected-purposes></app-selected-purposes>
  </div>
</div>