<div class="d-table">
  <div class="d-table-row">

    <div class="d-table-cell pl-1" ngbTooltip="View port call information" *ngIf="permissions.view">
      <button class="btn btn-sm btn-ssn" (click)="onViewClick()">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/eye.png" height="20px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.edit">
      <button class="btn btn-sm btn-ssn" ngbTooltip="Edit port call" *ngIf="portCallIsCancelled" disabled>
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/edit.png" height="20px" />
        </div>
      </button>

      <button class="btn btn-sm btn-ssn" ngbTooltip="Edit port call" (click)="onEditClick()" *ngIf="!portCallIsCancelled">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/edit.png" height="20px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.edit">
      <button class="btn btn-sm btn-ssn" *ngIf="portCallIsCancelled && !portCallIsDraft" disabled>
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/time.png" height="20px" />
        </div>
      </button>

      <app-set-actual-time [portCallModel]="rowData.overviewModel.portCall" *ngIf="!portCallIsCancelled && !portCallIsDraft"></app-set-actual-time>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.clearance">
      <button class="btn btn-sm btn-ssn" *ngIf="portCallIsCancelled" disabled>
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/stamp.png" height="16px" />
        </div>
      </button>

      <button class="btn btn-sm btn-ssn" ngbTooltip="Review port call clearance" (click)="onClearanceClick()" *ngIf="!portCallIsCancelled">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/stamp.png" height="16px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.cancel && !portCallIsDraft">
      <button class="btn btn-sm btn-ssn" *ngIf="portCallIsDraft || portCallIsCancelled" disabled>
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/cancel.png" height="16px" />
        </div>
      </button>

      <button class="btn btn-sm btn-ssn" ngbTooltip="Cancel port call" (click)="openModal(cancelModal)" *ngIf="!(portCallIsDraft || portCallIsCancelled)">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/cancel.png" height="16px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.delete && portCallIsDraft">
      <button class="btn btn-sm btn-ssn" ngbTooltip="Delete port call" (click)="openModal(deleteModal)">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/trash.png" height="16px" />
        </div>
      </button>
    </div>

  </div>
</div>

<ng-template #cancelModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">Cancel Port Call</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <span>Are you sure you wish to cancel this port call?</span>
      <br>
      <span>This action cannot be undone.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="cancelPortCall(); close">
      <img src="assets/images/icons/128x128/white/cancel.png" height="24px">
      <span>Cancel Port Call</span>
    </button>
    <button type="button" class="btn btn-ssn" (click)="close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>

<ng-template #deleteModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">Delete Port Call</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <span>Are you sure you wish to delete this port call?</span>
      <br>
      <span>This action cannot be undone.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="deletePortCall(); close">
      <img src="assets/images/icons/128x128/white/cancel.png" height="24px">
      <span>Delete Port Call</span>
    </button>
    <button type="button" class="btn btn-ssn" (click)="close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>