<div class="d-table">
  <div class="d-table-row">

    <div class="d-table-cell pl-1" ngbTooltip="View port call information" *ngIf="permissions.view">
      <button class="btn btn-sm btn-ssn" (click)="onViewClick()">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/eye.png" height="20px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.edit">
      <button class="btn btn-sm btn-ssn" ngbTooltip="Edit port call" *ngIf="portCallIsCancelled" disabled>
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/edit.png" height="20px" />
        </div>
      </button>

      <button class="btn btn-sm btn-ssn" ngbTooltip="Edit port call" (click)="openModal(editModal)" *ngIf="portCallIsActive">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/edit.png" height="20px" />
        </div>
      </button>

      <button class="btn btn-sm btn-ssn" ngbTooltip="Edit port call" (click)="onEditClick()" *ngIf="portCallIsDraft">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/edit.png" height="20px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.clearance">
      <button class="btn btn-sm btn-ssn" *ngIf="portCallIsCancelled" disabled>
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/stamp.png" height="16px" />
        </div>
      </button>

      <button class="btn btn-sm btn-ssn" ngbTooltip="Review port call clearance" (click)="onClearanceClick()" *ngIf="!portCallIsCancelled">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/stamp.png" height="16px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.cancel && !portCallIsDraft">
      <button class="btn btn-sm btn-ssn" *ngIf="portCallIsDraft || portCallIsCancelled" disabled>
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/cancel.png" height="16px" />
        </div>
      </button>

      <button class="btn btn-sm btn-ssn" ngbTooltip="Cancel port call" (click)="openModal(cancelModal)" *ngIf="!(portCallIsDraft || portCallIsCancelled)">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/cancel.png" height="16px" />
        </div>
      </button>
    </div>

    <div class="d-table-cell pl-1" *ngIf="permissions.delete && portCallIsDraft">
      <button class="btn btn-sm btn-ssn" ngbTooltip="Delete port call" (click)="openModal(deleteModal)">
        <div class="mx-auto">
          <img src="assets/images/icons/128x128/white/trash.png" height="16px" />
        </div>
      </button>
    </div>

  </div>
</div>

<ng-template #editModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">WARNING</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <span>To edit an active port call, you must revert it back to a draft.</span>
      <br>
      <span>Any active clearances for the port call will be reset.</span>
      <br>
      <span>The port call must be reactivated to receive new clearances.</span>
      <br>
      <br>
      <span>Are you sure you wish to edit this port call?</span>
      <br>
      <span>This action cannot be undone.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="editActivePortCall(); close">
      <img src="assets/images/icons/128x128/white/warning.png" height="24px">
      <span>Reset Clearance & Edit Port Call as Draft</span>
    </button>
    <button type="button" class="btn btn-ssn" (click)="close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>

<ng-template #cancelModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">Cancel Port Call</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <span>Are you sure you wish to cancel this port call?</span>
      <br>
      <span>This action cannot be undone.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="cancelPortCall(); close">
      <img src="assets/images/icons/128x128/white/cancel.png" height="24px">
      <span>Cancel Port Call</span>
    </button>
    <button type="button" class="btn btn-ssn" (click)="close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>

<ng-template #deleteModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">Delete Port Call</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <span>Are you sure you wish to delete this port call?</span>
      <br>
      <span>This action cannot be undone.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="deletePortCall(); close">
      <img src="assets/images/icons/128x128/white/cancel.png" height="24px">
      <span>Delete Port Call</span>
    </button>
    <button type="button" class="btn btn-ssn" (click)="close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>