<div class="d-table">
  <div class="d-table-row">

    <div class="d-table-cell">
      <button class="btn btn-sm btn-ssn" (click)="onViewClick()">
        <div class="mx-auto">
          <img src='assets/images/VoyageIcons/128x128/white/eye.png' height='20px' />
        </div>
        <small class="text-center text-white">VIEW</small>
      </button>
    </div>

    <div class="d-table-cell">
      <button class="btn btn-sm btn-ssn" (click)="onEditClick()">
        <div class="mx-auto">
          <img src='assets/images/VoyageIcons/128x128/white/edit.png' height='20px' />
        </div>
        <small class="text-center text-white">EDIT</small>
      </button>
    </div>

    <div class="d-table-cell">
      <button class="btn btn-sm btn-ssn" (click)="onClearanceClick()">
        <div class="mx-auto">
          <img src='assets/images/VoyageIcons/128x128/white/stamp.png' height='20px' />
        </div>
        <small class="text-center text-white">CLEAR</small>
      </button>
    </div>

  </div>
</div>