<header>
  <nav class="navbar navbar-dark bg-ssn">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-sm btn-ssn" type="button" (click)="menuIsCollapsed = !menuIsCollapsed" *ngIf="userMenuEntries.length > 1">
          <span class="navbar-toggler-icon"></span>
        </button>

        <button class="btn btn-sm btn-ssn" type="button" (click)="setContent(userMenuEntries[0].menuName)" *ngIf="userMenuEntries.length === 1">
          <img src="{{iconPath}}home.png" height="16px">
        </button>
      </li>
    </ul>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <img src="/assets/images/logo.png" height="32px" />
        <span class="text-center text-ssn">IMO Maritime Single Window</span>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="loggedIn">
      <li class="nav-item">
        <form class="form-inline">
          <div class="btn-group">
            <button class="btn btn-light btn-sm">{{userName}}</button>
            <button class="btn btn-outline-light btn-sm" (click)="logout()">Log out</button>
          </div>
        </form>
      </li>
    </ul>

    <div class="collapse navbar-collapse" [ngbCollapse]="menuIsCollapsed">
      <div class="row">
        <div class="col-sm mx-auto mt-2" *ngFor="let menuEntry of userMenuEntries">
          <button class="btn btn-ssn btn-sm col" (click)="setContent(menuEntry.menuName)">
            <img src="{{ menuEntry.iconPath }}" height="24px" /> {{menuEntry.title}}
          </button>
        </div>
      </div>
    </div>

  </nav>
</header>