<header>
  <nav class="navbar navbar-dark bg-ssn">

    <button class="btn btn-sm btn-ssn mr-auto" type="button" (click)="menuIsCollapsed = !menuIsCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav ml-auto" *ngIf="loggedIn">
      <li class="nav-item">
        <form class="form-inline">
          <div class="btn-group">
            <button class="btn btn-light btn-sm">{{userName}}</button>
            <button class="btn btn-outline-light btn-sm" (click)="logout()">Log out</button>
          </div>
        </form>
      </li>
    </ul>

    <div class="collapse navbar-collapse" [ngbCollapse]="menuIsCollapsed">
      <div class="row">
        <div class="col-sm mx-auto mt-2" *ngFor="let menuEntry of userMenuEntries">
          <button class="btn btn-ssn btn-sm col" (click)="setContent(menuEntry.menuName)">
            <img src="{{ menuEntry.iconPath }}" height="24px" /> {{menuEntry.title}}
          </button>
        </div>
      </div>
    </div>

  </nav>
</header>