<header>
  <nav class="navbar navbar-dark bg-ssn">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="(userMenuEntries.length > 1); else singleEntry">
        <button class="btn btn-sm btn-ssn" type="button" (click)="menuIsCollapsed = !menuIsCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="/assets/images/logos/logo.png" height="32px" />
        <span class="text-center text-ssn">IMO Maritime Single Window</span>
      </li>
      <ng-template #singleEntry>
        <app-header-home [standAlone]="false" *ngIf="userMenuEntries.length === 1"></app-header-home>
      </ng-template>
    </ul>

    <span class="badge badge-danger" *ngIf="!(online$ | async)">Internet connection lost</span>
    <span class="badge badge-danger" *ngIf="!hasDbConnection">Connection to database lost.</span>
    <span class="badge badge-danger" *ngIf="!hasServerConnection">Connection to server lost.</span>

    <ul class="navbar-nav ml-auto" *ngIf="loggedIn || redirected">
      <li class="nav-item" >
          <span class="text-center text-ssn mx-3">Development Version. Deployed: 13.12.2018</span>
          <div class="btn-group">
            <button (click)="navigateToMyAccountPage()" class="btn btn-light btn-sm">My account</button>
          </div>
          <div class="btn-group">
            <span class="btn btn-light btn-sm non-clickable">{{userName}}</span>
            <button class="btn btn-outline-light btn-sm" (click)="logout()">Log out</button>
            <button class="btn btn-outline-light btn-sm" (click)="whatsNew()">What's new?</button>
          </div>
      </li>
    </ul>



    <div class="collapse navbar-collapse" [ngbCollapse]="menuIsCollapsed">
      <div class="row">
        <div class="col-sm mx-auto mt-2" *ngFor="let menuEntry of userMenuEntries">
          <button class="btn btn-ssn btn-sm col" (click)="setContent(menuEntry.menuName)">
            <img src="{{ menuEntry.iconPath }}" height="24px" /> {{menuEntry.title}}
          </button>
        </div>
      </div>
    </div>

  </nav>
</header>