<app-progress-bar *ngIf="portCallRegistered"></app-progress-bar>
<div class="jumbotron bg-ssn-light">
  <div class="row mb-3 text-center">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/portcall.png" height="64px">
    </div>
    <div class="col-8">
      <h3 class="text-ssn display-4">REGISTER <span class="no-wrap">PORT CALL</span></h3>
      <h4 class="text-ssn no-wrap">~ {{ selectedComponent }} ~</h4>
    </div>
  </div>
  <div class="row mb-3 text-ssn">
    <div class="col">
        <app-info *ngIf="portCallRegistered"></app-info>
    </div>
  </div>

  <app-forms></app-forms>
  
</div>
<app-progress-bar *ngIf="portCallRegistered"></app-progress-bar>
