<div class="jumbotron bg-ssn-light p-3 {{shownAs}}">

  <div class="d-table-row">
    <div class="d-table-cell" *ngIf="icon">
      <img src="{{iconPath}}{{icon}}" class="mb-2" height="32px">
    </div>
    <div class="d-table-cell pl-2">
      <h3 class="text-ssn mb-0">{{ header }}</h3>
    </div>
    <button *ngIf="shownAs === 'as-dialog'" type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <ng-content></ng-content>
</div>