<ng-template #rt let-r="result" let-t="term">
  <img src="assets/images/Flags/128x128/{{r.country.twoCharCode.toLowerCase()}}.png" height="16px" />
  <strong *ngIf="r.name">Name: </strong> {{ r.name }}
  <strong *ngIf="r.locationCode">Code: </strong> {{ r.locationCode }}
</ng-template>

<div *ngIf="!locationSelected" class="form-group row">
  <label for="search-location" class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4">{{label}}</label>
  <div class="col my-auto">
    <input id="search-location" type="text" class="form-control form-control-sm mx-auto" [(ngModel)]="locationModel" [ngbTypeahead]="search"
      [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectLocation($event)" placeholder="Enter search here..."
    />
  </div>
  <div class="col-2" *ngIf="searching">
    <img class="mx-auto" src="assets/images/animations/location.gif" height="30px">
    <p>Searching</p>
  </div>
  <div class="col-2 col my-auto" *ngIf="searchFailed">
    <img class="mx-auto" src="assets/images/VoyageIcons/128x128/cancel.png" height="30px">
    <p>No results</p>
  </div>
</div>