<div [ngSwitch]="selectedForm">
  <button *ngSwitchCase="formNames.SHIP_STORES" class="btn btn-sm btn-ssn" ngbTooltip="Delete Ship Store" (click)="deleteItem();">
    <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
  </button>

  <button *ngSwitchCase="formNames.CARGO" class="btn btn-sm btn-ssn" ngbTooltip="Delete Cargo Item" (click)="onDeleteClick(deleteModal)">
    <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
  </button>
</div>

<ng-template #deleteModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">Confirm Deletion</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [ngSwitch]="selectedForm">
      <span *ngSwitchCase="formNames.SHIP_STORES">Delete ship store?</span>
      <span *ngSwitchCase="formNames.CARGO">Delete cargo item?</span>
    </div>
  </div>
  <div class="modal-footer" [ngSwitch]="selectedForm">
    <button *ngSwitchCase="formNames.SHIP_STORES" class="btn btn-danger" (click)="deleteItem(); close">
      <img src="assets/images/icons/128x128/white/cancel.png" height="24px">
      <span>Delete Ship Store</span>
    </button>
    <button *ngSwitchCase="formNames.CARGO" class="btn btn-danger" (click)="deleteItem(); close">
      <img src="assets/images/icons/128x128/white/cancel.png" height="24px">
      <span>Delete</span>
    </button>
    <button type="button" class="btn btn-ssn" (click)="close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>