<div class="card-body">
    <ng-template #rt let-r="result" let-t="term">
        <img *ngIf="r.country.twoCharCode" src="../../../../../../assets/images/Flags/{{ r.country.twoCharCode.toLowerCase() }}.png" height="16px"/>
        <strong *ngIf="r.shipFlagCode.name">Code: </strong> {{ r.shipFlagCode.name }}
        <strong *ngIf="r.country.name">Country: </strong> {{ r.country.name }}
    </ng-template>

    <div *ngIf="!shipFlagCodeSelected">
        <label for="search-shipFlagCode">Search using flag code or name of country</label>
        <input id="search-shipFlagCode" type="text" class="form-control mx-auto" [(ngModel)]="shipFlagCodeModel" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter" (selectItem)="selectShipFlagCode($event)" placeholder="Enter search here..."/>
    </div>

    <div *ngIf="shipFlagCodeSelected">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-ssn text-ssn">
                        <th>Country Flag</th>
                        <th>Ship Flag Code</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../../../../../../assets/images/Flags/{{ shipFlagCodeModel.country.twoCharCode.toLowerCase() }}.png" height="20px"/></td>
                        <td>{{ shipFlagCodeModel.shipFlagCode.name }}</td>
                        <td>{{ shipFlagCodeModel.country.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-ssn" (click)="deselectShipFlagCode()">
            <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
    </div>
</div>