<app-ssn-card [header]="'International Ship Security Certificate'" class="mb-3">
  <pre>{{ isscModel | json }}</pre>
  <form #form="ngForm">
    <div class="row">
      <div class="col-md-6">
        <label class="no-wrap mb-0 mt-2" for="certificate_number">Certificate Number</label>
        <input [(ngModel)]="isscModel.certificateNumber" class="form-control form-control-sm" id="certificate_number" name="certificate_number"
          placeholder="Enter certificate number...">
      </div>
      <div class="col-md-6">
        <app-date-picker header="Expiry Date" (dateResult)="onExpiryDateSelection($event)"></app-date-picker>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="no-wrap mb-0" for="issuer_type_select">Issuer Type</label>
        <ng-select [(ngModel)]="isscModel.issuedByGovernment" name="issuer_type_select" [items]="issuerTypeList" bindLabel="name"
          bindValue="isGovernmentType" placeholder="Select issuer type..." [searchable]="false" (change)="onIssuerTypeSelection($event)"></ng-select>
      </div>
      <div class="col-md-6">
        <label class="no-wrap mb-0" for="issc_issuer">Issued By</label>
        <div *ngIf="isscModel.issuedByGovernment == null">
          <select class="custom-select" placeholder="Select issuer type first" disabled></select>
        </div>
        <div *ngIf="isscModel.issuedByGovernment">
          <app-country-select (countryResult)="onCountrySelection($event)"></app-country-select>
        </div>
        <div *ngIf="isscModel.issuedByGovernment == false">
          <app-rso-select (organizationResult)="onOrganizationSelection($event)"></app-rso-select>
        </div>
      </div>
    </div>

  </form>
</app-ssn-card>