<app-search-passenger-port *ngIf="!disembarkationFound" (selectPort)="setPort($event)" [label]="label">
</app-search-passenger-port>

<div *ngIf="disembarkationFound" class="input-group">
  <div class="input-group-prepend flag">
    <img src="assets/images/Flags/128x128/{{disembarkationFlag | lowercase}}.png" height="30px">
  </div>
  <input id="search-location" type="text" class="form-control form-control-sm" readonly="readonly" [(ngModel)]="disembarkationModel.name"
  />
  <div>
    <button class="btn btn-sm btn-ssn" ngbTooltip="Remove port" (click)="deselectPort()">
      <img height="20px" src="assets/images/VoyageIcons/128x128/white/cancel.png">
    </button>
  </div>
</div>