<div class="card card-ssn bg-ssn text-ssn">
  <div class="row px-3 py-1">

    <div *ngFor="let menuEntry of menuEntries">
      <div *ngIf="menuEntry.checked" class="mx-1 my-1">
        <button class="btn btn-sm" [ngClass]="{'btn-danger': menuEntry.hasError, 'btn-ssn': !menuEntry.hasError, 'active': selectedPortCallForm == menuEntry.name}"
          (click)="setPortCallForm(menuEntry.name)">
          <img src="{{iconPath}}{{menuEntry.icon}}" height="24px" /> {{menuEntry.name}}
          <span *ngIf="menuEntry.hasUnsavedData" title="There is unsaved data in this page."> *</span>
        </button>
      </div>
    </div>

  </div>
</div>