<form>

  <div class="jumbotron">
    <h4>Location details</h4>
    <div class="form-group">
      <label for="location_name">Location name</label>
      <input type="text" class="form-control" id="location_name" placeholder="Enter location name">
    </div>
    <div class="form-group">
      <label for="location_code">Location code</label>
      <input type="text" class="form-control" id="location_code" placeholder="Enter location code">
    </div>
    <div class="form-group">
      <label for="post_code">Post code</label>
      <input type="text" class="form-control" id="post_code" placeholder="Enter post code">
    </div>
    <div class="form-group">
      <label for="location_type">Location type</label>
      <select class="form-control" id="location_type">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="location_source">Location source</label>
      <select class="form-control" id="location_source">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <select class="form-control" id="department">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </div>

  <div class="jumbotron">
    <h4>Position</h4>
    <div class="form-group">
      <label for="geometry">Geometry string</label>
      <textarea class="form-control" rows="5" id="geometry"></textarea>
    </div>
  </div>

  <div class="jumbotron">
    <h4>Confirm</h4>
    <button type="submit" class="btn btn-primary">Create new location</button>
  </div>

</form>