<form>

  <div class="jumbotron">
    <h4>Ship Identification</h4>
    <div class="form-group">
      <label for="ship_name">Ship name</label>
      <input type="text" class="form-control" id="ship_name" placeholder="Enter ship name">
    </div>
    <div class="form-group">
      <label for="call_sign">Call sign</label>
      <input type="text" class="form-control" id="call_sign" placeholder="Enter call sign">
    </div>
    <div class="form-group">
      <label for="imo_no">IMO number</label>
      <input type="number" class="form-control" id="imo_no" placeholder="Enter IMO number">
    </div>
    <div class="form-group">
      <label for="mmsi_no">MMSI number</label>
      <input type="number" class="form-control" id="mmsi_no" placeholder="Enter MMSI number">
    </div>
    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control" id="company">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ship_flag_code">Ship flag code</label>
      <select class="form-control" id="ship_flag_code">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </div>

  <div class="jumbotron">
    <h4>Ship Details</h4>
    <div class="form-group">
      <label for="year_of_build">Year of build</label>
      <input type="number" class="form-control" id="year_of_build" placeholder="Enter year of build">
    </div>
    <div class="form-group">
      <label for="ship_type">Ship type</label>
      <select class="form-control" id="ship_type">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ship_hull_type">Ship hull type</label>
      <select class="form-control" id="ship_hull_type">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gross_tonnage">Gross tonnage</label>
      <input type="number" class="form-control" id="gross_tonnage" placeholder="Enter gross tonnage">
    </div>
    <div class="form-group">
      <label for="deadweight_tonnage">Deadweight tonnage</label>
      <input type="number" class="form-control" id="deadweight_tonnage" placeholder="Enter deadweight tonnage">
    </div>
    <div class="form-group">
      <label for="length_type">Length type</label>
      <select class="form-control" id="length_type">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ship_length">Ship length</label>
      <input type="number" class="form-control" id="ship_length" placeholder="Enter ship length">
    </div>
    <div class="form-group">
      <label for="breadth_type">Breadth type</label>
      <select class="form-control" id="breadth_type">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ship_breadth">Ship breadth</label>
      <input type="number" class="form-control" id="ship_breadth" placeholder="Enter ship breadth">
    </div>
    <div class="form-group">
      <label for="power_type">Power type</label>
      <select class="form-control" id="power_type">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ship_power">Ship power</label>
      <input type="number" class="form-control" id="ship_power" placeholder="Enter ship power">
    </div>
    <div class="form-group">
      <label for="ship_height">Ship height</label>
      <input type="number" class="form-control" id="ship_height" placeholder="Enter ship height">
    </div>
    <div class="form-group">
      <label for="ship_draught">Ship draught</label>
      <input type="number" class="form-control" id="ship_draught" placeholder="Enter ship draught">
    </div>
    <div class="form-group">
      <label for="side_thrusters">Side thrusters</label>
      <div class="card" id="side_thrusters">
        <div class="checkbox container">
          <label>
            <input type="checkbox" value=""> Front side thrusters</label>
        </div>
        <div class="checkbox container">
          <label>
            <input type="checkbox" value=""> Back side thrusters</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="remark">Remarks</label>
      <textarea class="form-control" rows="3" id="remarks"></textarea>
    </div>
  </div>

  <div class="jumbotron">
    <h4>Contact</h4>
  </div>

  <div class="jumbotron">
    <h4>Confirm</h4>
    <button type="submit" class="btn btn-ssn">Registrer ship</button>
  </div>

</form>