<ng-template #rt let-r="result" let-t="term">
  <img *ngIf="r.country.twoCharCode" src="assets/images/flags/{{ r.country.twoCharCode | lowercase }}.png" height="16px" />
  <strong *ngIf="r.name">Code: </strong> {{ r.name }}
  <strong *ngIf="r.country.name">Country: </strong> {{ r.country.name }}
</ng-template>

<div class="text-center">
  <label for="search-shipFlagCode">Search using flag code or name of country</label>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <input id="search-shipFlagCode" type="text" class="form-control form-control-sm mx-auto" [(ngModel)]="shipFlagCodeModel"
        [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectShipFlagCode($event)"
        placeholder="Enter search here..." />
    </div>
    <div class="col-2">
      <div *ngIf="searching">
        <img class="mx-auto" src="assets/images/animations/flag.gif" height="32px">
        <p>Searching</p>
      </div>
      <div *ngIf="searchFailed">
        <img class="mx-auto" src="assets/images/icons/128x128/cancel.png" height="32px">
        <p>No results</p>
      </div>
    </div>
  </div>
</div>