<app-progress-bar></app-progress-bar>

<div class="row mb-3">
    <div class="col">
        <app-ship-info-table></app-ship-info-table>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <app-location-time-info-table></app-location-time-info-table>
    </div>
</div>

<div [ngSwitch]="selectedComponent">
    <app-port-call-details *ngSwitchCase="'Port Call Details'"></app-port-call-details>
    <app-ship-stores *ngSwitchCase="'Ship Stores'"></app-ship-stores>

    <app-confirmation *ngSwitchCase="'Confirm and Activate'"></app-confirmation>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        This page is not implemented yet.
    </div>
</div>