<app-progress-bar *ngIf="portCallId != null"></app-progress-bar>

<div *ngIf="selectedComponent !== formNames.VOYAGES">
    <div class="row mb-3">
        <div class="col">
            <app-ship-info-table></app-ship-info-table>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <app-location-time-info-table></app-location-time-info-table>
        </div>
    </div>
</div>

<div [ngSwitch]="selectedComponent">
    <app-voyages *ngSwitchCase="formNames.VOYAGES" [portCallId]="portCallId" [shipModel]="shipModel" [locationModel]="locationModel"
        [etaModel]="etaModel" [etdModel]="etdModel" [prevLocationModel]="prevLocationModel" [prevEtdModel]="prevEtdModel" [nextLocationModel]="nextLocationModel"
        [nextEtaModel]="nextEtaModel"></app-voyages>
    <app-port-call-details *ngSwitchCase="formNames.PORT_CALL_DETAILS" [portCallId]="portCallId"></app-port-call-details>
    <app-ship-stores *ngSwitchCase="formNames.SHIP_STORES" [portCallId]="portCallId" [shipStoresList]="shipStoresData"></app-ship-stores>
    <app-cargo *ngSwitchCase="formNames.CARGO" [portCallId]="portCallId" [cargoData]="cargoData"></app-cargo>
    <app-security *ngSwitchCase="formNames.SECURITY" [portCallId]="portCallId" [shipModel]="securityShipModel" [securityModel]="securityData"></app-security>
    <app-passenger-list *ngSwitchCase="formNames.PAX" [portCallId]="portCallId" [passengerList]="passengerData"></app-passenger-list>
    <app-crew-list *ngSwitchCase="formNames.CREW" [portCallId]="portCallId" [crewList]="crewData"></app-crew-list>
    <app-dpg *ngSwitchCase="formNames.DPG" [portCallId]="portCallId" [dpgOnBoardList]="dpgData"></app-dpg>
    <app-confirmation *ngSwitchCase="'Confirm and Activate'"></app-confirmation>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        This page is not implemented yet.
    </div>
</div>