<app-progress-bar></app-progress-bar>

<div class="row mb-3">
    <div class="col">
        <app-ship-info-table></app-ship-info-table>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <app-location-time-info-table></app-location-time-info-table>
    </div>
</div>

<div [ngSwitch]="selectedComponent">
    <app-port-call-details *ngSwitchCase="formNames.PORT_CALL_DETAILS" [portCallId]="portCallId"></app-port-call-details>
    <app-ship-stores *ngSwitchCase="formNames.SHIP_STORES" [portCallId]="portCallId" [shipStoresList]="shipStoresData"></app-ship-stores>
    <app-cargo *ngSwitchCase="formNames.CARGO" [portCallId]="portCallId" [cargoData]="cargoData"></app-cargo>
    <app-prev-and-next-poc *ngSwitchCase="formNames.PREV_AND_NEXT_POC" [portCallId]="portCallId"></app-prev-and-next-poc>
    <app-passenger-list *ngSwitchCase="formNames.PAX"></app-passenger-list>
    <app-confirmation *ngSwitchCase="'Confirm and Activate'"></app-confirmation>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        This page is not implemented yet.
    </div>
</div>