<form>
  <app-ssn-card header="Identity Document Information" icon="user-info.png">
    <div class="row">
      <div class="col-lg-6">

        <div class="form-group row">
          <div class="col my-auto">
            <label for="natureOfIdentityDoc" class="col-form-label-sm no-wrap mb-0">Nature of Identity Document</label>
            <ng-select class="ng-select-placeholder-size" [items]="identityDocTypeList" [(ngModel)]="identityDocumentModel.identityDocumentType"
              name="natureOfIdentityDoc" [closeOnSelect]="true" bindLabel="description" placeholder="Nature of Identity Document"
              (change)="setIdentityDocumentType($event)">
            </ng-select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col my-auto">
            <label for="numberOfIdentityDoc" class="col-form-label-sm no-wrap mb-0">Number of Identity Document</label>
            <input #numberOfIdentityDoc="ngModel" type="number" [(ngModel)]="identityDocumentModel.identityDocumentNumber" placeholder="Number of Identity Document"
              class="form-control form-control-sm" name="numberOfIdentityDoc" integerValidator positiveNumberValidator (ngModelChange)="setNumberOfIdentityDoc($event)">
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="!numberOfIdentityDoc.valid && numberOfIdentityDoc.touched">
          <li *ngIf="numberOfIdentityDoc.hasError('notIntegerError')">
            <small>Identity document number must be an integer.</small>
          </li>
          <li *ngIf="numberOfIdentityDoc.hasError('notPositiveNumberError')">
            <small>Identity document number must be a positive number.</small>
          </li>
        </div>

        <div class="form-group row">
          <div class="col my-auto">
            <label for="app-search-country" class="col-form-label-sm no-wrap mb-0">Issuing Nation</label>
            <app-search-country *ngIf="!identityDocumentModel.issuingNation" (selectCountry)="setIssuingNation($event)" (deselectCountry)="resetIssuingNation()"></app-search-country>
            <div *ngIf="identityDocumentModel.issuingNation" class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="assets/images/flags/128x128/{{ identityDocumentModel.issuingNation.twoCharCode | lowercase}}.png" height="20px">
                </span>
              </div>
              <input id="search-country" type="text" class="form-control" readonly="readonly" [ngModel]="identityDocumentModel.issuingNation.name"
                name="issuingNation" />
              <div>
                <div class="input-group-append">
                  <button class="btn btn-sm btn-ssn" ngbTooltip="Remove issuing nation" (click)="resetIssuingNation()">
                    <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="form-group row">
          <div class="col my-auto">
            <label for="app-date-picker" class="col-form-label-sm no-wrap mb-0">Identity Document Issue Date</label>
            <app-date-picker #selectIssueDate (selectDate)="setIdentityDocumentIssueDate($event)" [inputDate]="getNgbDateFormat(identityDocumentModel.identityDocumentIssueDate)"></app-date-picker>
            <div *ngIf="issueDateAfterExpiryDateError && expiryDateValid && issueDateValid" class="alert alert-danger" role="alert">
              <li>
                <small>Identity document issue date must be before the expiry date.</small>
              </li>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col my-auto">
            <label for="app-date-picker" class="col-form-label-sm no-wrap mb-0">Identiy Document Expiry Date</label>
            <app-date-picker #selectExpiryDate (selectDate)="setIdentityDocumentExpiryDate($event)" [inputDate]="getNgbDateFormat(identityDocumentModel.identityDocumentExpiryDate)"></app-date-picker>
            <div *ngIf="expiryDateBeforeIssueDateError && expiryDateValid && issueDateValid" class="alert alert-danger" role="alert">
              <li>
                <small>Identity document expiry date must be after the issue date.</small>
              </li>
            </div>
          </div>
        </div>

        <div *ngIf="showVisaOrResidenceNumber == true">
          <div class="form-group row">
            <div class="col my-auto">
              <label for="visaOrResidenceNumber" class="col-form-label-sm no-wrap mb-0">Visa or Residence Permit Number</label>
              <input #visaOrResidencePermitNumber="ngModel" type="number" [(ngModel)]="identityDocumentModel.visaOrResidencePermitNumber"
                placeholder="Visa or Residence Permit Number" class="form-control form-control-sm" name="visaOrResidenceNumber"
                integerValidator positiveNumberValidator (ngModelChange)="setVisaOrPermitNumber($event)">
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="!visaOrResidencePermitNumber.valid && visaOrResidencePermitNumber.touched">
            <li *ngIf="visaOrResidencePermitNumber.hasError('notIntegerError')">
              <small>Visa/permit number must be an integer.</small>
            </li>
            <li *ngIf="visaOrResidencePermitNumber.hasError('notPositiveNumberError')">
              <small>Visa/permit number number must be a positive number.</small>
            </li>
          </div>
        </div>
      </div>
    </div>
  </app-ssn-card>
</form>