<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-ssn">
    <a class="navbar-brand" routerLink="">{{title}}</a>
      
      <div class="conatiner-fluid">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
        </ul>
      </div>
  
      <div *ngIf="status">
        <form class="form-inline">
          <div class="btn-group">
            <button class="btn btn-light">Admin</button>
            <button class="btn btn-outline-light">Log out</button>
          </div>
        </form>
      </div>      
  </nav>
</header>
