<header>
  <nav class="navbar navbar-dark bg-ssn">
    <button class="btn btn-sm btn-ssn mr-auto" type="button" (click)="menuIsCollapsed = !menuIsCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="menuIsCollapsed">

      <div class="row">
        <div ngbDropdown class="col-sm mx-auto mt-2" *ngFor="let menu_entry of menu_entries">
          <button class="btn btn-ssn btn-sm col-md" (click)="setContent(menu_entry.componentDescription)">
            <img src="{{menu_entry.iconPath}}" height="24px" /> {{menu_entry.title}}
          </button>
        </div>
      </div>
    </div>

    <ul class="navbar-nav ml-auto" *ngIf="loggedIn">
      <li class="nav-item">
        <form class="form-inline">
          <div class="btn-group">
            <button class="btn btn-light btn-sm">Admin</button>
            <button class="btn btn-outline-light btn-sm" (click)="logout()">Log out</button>
          </div>
        </form>
      </li>
    </ul>

  </nav>
</header>