<div class="row mb-3">
  <div class="col">
    <app-table-card header="Cargo" icon="cargo.png" collapsible=true>
      <tbody>
        <tr>
          <td class="no-wrap px-1 mx-1">
            <tr>
              <small>No. of Consignments</small>
            </tr>
            <tr>
              {{ numberOfConsignments }}
            </tr>
          </td>
          <td class="no-wrap px-1 mx-1">
            <tr>
              <small>Total no. of Cargo Items</small>
            </tr>
            <tr>
              {{ numberOfCargoItems }}
            </tr>
          </td>
          <td>
            <tr>
              <small>Total no. of Packages</small>
            </tr>
            <tr>
              {{ numberOfPackages }}
            </tr>
          </td>
        </tr>
      </tbody>
    </app-table-card>
  </div>
</div>