<app-ssn-bg header="Change User Password" icon="user.png" shownAs="as-dialog">
    <app-ssn-card header="Password {{purpose}} Form">

      <div class="form-group row">
        <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="first_password">New password</label>
        <div class="col">
          <input id="first_password" name="first_password" class="form-control form-control-sm" type="password" placeholder="Enter a new password" [(ngModel)]="newPassword">
        </div>
      </div>

      <div class="form-group row mb-0">
        <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="second_password">Retype password</label>
        <div class="col">
          <input id="second_password" name="second_password" class="form-control form-control-sm" type="password" placeholder="Retype the password" [(ngModel)]="newPasswordCheck">
        </div>
      </div>

      <div *ngIf="fieldsFilled" class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        </div>
        <div class="col" *ngIf="!passwordMatch && !fieldFocused">
          <img height="16px" src="assets/images/icons/128x128/red/warning.png">
          <small class="text-danger">New passwords do not match</small>
        </div>
        <div class="col" *ngIf="passwordMatch">
          <img height="16px" src="assets/images/icons/128x128/green/checkmark.png">
          <small class="text-success">New passwords match</small>
        </div>
      </div>
      <div *ngIf="passwordMatch && !fieldsFilled" class="row">
        <div class="col" *ngIf="passwordMatch">
          <img height="16px" src="assets/images/icons/128x128/green/checkmark.png">
          <small class="text-success">New passwords match, but please also input your current password.</small>
        </div>
      </div>

       <div>
        <div class="row">
          <div class="col">
            <button class="btn btn-ssn" (click)="setPassword();" [disabled]="newPassword != newPasswordCheck || newPassword == ''">Set Password</button>
            <button class="btn btn-ssn" (click)="activeModal.close(false);">Close</button>
          </div>
        </div>
      </div>

      <div *ngIf="submissionReady">
        <div *ngIf="actionSucceeded" class="alert-success" role="alert">
          <h5>Success</h5>
          <span>{{successMessage}}</span>
        </div>
        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <h5>Error</h5>
          <span>{{errors}}</span>
        </div>
      </div>
      
    </app-ssn-card>
</app-ssn-bg>