
<div class="container">
  <div class="jumbotron bg-ssn-light">
    <div class="row card-ssn text-center">
      <div class="col-2">
        <img src="assets/images/VoyageIcons/128x128/white/user.png" height="64px">
      </div>
      <div class="col-8">
        <h3 class="text-ssn display-4">REGISTER USER</h3>
      </div>
    </div>
  
    <!-- BEGIN SECTION <user registration> -->
    <ssn-card header="Personalia" icon="user-info.png" id="personalia" class="card-body text-left">
      <form #f="ngForm" novalidate>

        <div class="form-group">
          <label class="control-label" for="first_name">First name</label>
          <div class="col-sm-4">
            <input id="first_name" name="firstName" class="form-control form-control-sm" [(ngModel)]="user.firstName">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="last_name">Last name</label>
          <div class="col-sm-4">
            <input id="last_name" name="lastName" class="form-control form-control-sm" [(ngModel)]="user.lastName">
          </div>
        </div>

        

        <div class="form-group">
          <label class="control-label" for="email">Email</label>
          <div class="col-sm-4">
            <input id="email" name="email" class="form-control form-control-sm" [(ngModel)]="user.email" #email="ngModel" tmFocus validateEmail>
            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="phone_number">Phone number</label>
          <div class="col-sm-4">
            <input id="phone_number" name="phoneNumber" class="form-control form-control-sm" [(ngModel)]="user.phoneNumber">
          </div>
        </div>

        <app-search-organization></app-search-organization>

        <button type="submit" (click)="registerUser(f)" class="btn btn-success" [disabled]="f.invalid || isRequesting">CREATE USER</button>

      </form>
    </ssn-card>
    <!-- END SECTION <user registration> -->

    <!-- BEGIN SECTION <user role assignment> -->
    <ssn-card header="User role" icon="user-info.png">
          
        <!-- <label class="control-label" for="role">Roles</label>
        <select [(ngModel)]="selectedRole" name="role-select" class="custom-select" multiple size="5">
          <option *ngFor="let role of roleList" value="{{role}}">{{ role }}</option>
        </select> -->
        
        <label for="roleSelected">
          <span class="no-wrap">Select a role for this user</span>
        </label>
        <ng-select id="roleSelected" [items]="roleList" [multiple]="false" [closeOnSelect]="true" bindLabel="name" placeholder="Select role"
          [(ngModel)]="selectedRole">
        </ng-select>

      <button class="btn btn-success">Register user</button>

    </ssn-card>
    <!-- END SECTION <user role assignment> -->
  
      
  </div>
</div>
