<div class="jumbotron bg-ssn-light">
  <div class="row card-ssn text-center">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/user.png" height="64px">
    </div>
    <div class="col-8">
      <h3 class="text-ssn display-4">REGISTER USER</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ssn-card *ngIf="!isDrafted" header="Personalia" icon="user-info.png" id="personalia">
        <form #f="ngForm" novalidate>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-1 col-md-1 col-lg-2 col-xl-1" for="email">Email</label>
                <div class="col">
                  <input id="email" name="email" class="form-control form-control-sm" [(ngModel)]="user.email" #email="ngModel" [email]="true"
                    tmFocus validateEmail (blur)="userExists(email.valid)" (ngModelChange)="emailChecked = false" placeholder="Enter email">
                  <small *ngIf="!email.valid && !email.pristine" class="text-danger">Please enter a valid email</small>
                  <div *ngIf="emailChecked && !emailTaken">
                    <img height="16px" src="assets/images/Validation/32x32/icon-valid-ok.png">
                    <small class="text-success">email available</small>
                  </div>
                  <div *ngIf="emailChecked && emailTaken">
                    <img height="16px" src="assets/images/Validation/32x32/icon-alert-warning.png">
                    <small class="text-danger">email is already in use</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="password">Password</label>
                <div class="col">
                  <input id="password" type="password" name="password" class="form-control form-control-sm" [(ngModel)]="user.password" required
                    placeholder="Enter password">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="first_name">Given name</label>
                <div class="col">
                  <input id="first_name" name="firstName" class="form-control form-control-sm" [(ngModel)]="user.firstName" placeholder="Enter given name">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="last_name">Surname</label>
                <div class="col">
                  <input id="last_name" name="lastName" class="form-control form-control-sm" [(ngModel)]="user.lastName" placeholder="Enter surname">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="phone_number">Phone number</label>
                <div class="col">
                  <input id="phone_number" name="phoneNumber" class="form-control form-control-sm" [(ngModel)]="user.phoneNumber" placeholder="Enter phone number">
                </div>
              </div>
            </div>
          </div>

        </form>
      </ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ssn-card header="Select Organization" icon="pax.png">
        <div *ngIf="!organizationSelected">
          <app-search-organization></app-search-organization>
        </div>

        <div *ngIf="organizationSelected" class="text-center">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Organization Name</th>
                  <th>Organization Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ organizationModel.name }}</td>
                  <td>{{ organizationModel.organizationNo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-ssn" (click)="deselectOrganization()">
            <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
        </div>
      </ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ssn-card header="User rights" icon="verification-clipboard.png">
        <div class="form-group">
          <div class="text-center">
            <span class="no-wrap">Select a role for this user</span>
          </div>
          <ng-select id="roleSelected" [items]="roleList" [multiple]="false" [closeOnSelect]="true" bindLabel="name" placeholder="Select role"
            [(ngModel)]="user.roleName">
          </ng-select>
        </div>
      </ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ssn-card header="Confirm User Registration">
        <div class="text-center" *ngIf="!(user.email && emailChecked && !emailTaken && user.password && organizationSelected && user.roleName)">
          <div class="mb-3">
            <p class="mb-0" *ngIf="!user.email">Email not set.</p>
            <p class="mb-0" *ngIf="user.email && emailChecked && emailTaken">Selected email is already in use.</p>
            <p class="mb-0" *ngIf="!user.password">Password not set.</p>
            <p class="mb-0" *ngIf="!organizationSelected">Organization not selected.</p>
            <p class="mb-0" *ngIf="!user.roleName">Role not assigned.</p>
          </div>
          <button class="btn btn-ssn" disabled>Register User</button>
        </div>
        <div class="text-center" *ngIf="user.email && emailChecked && !emailTaken && user.password && organizationSelected && user.roleName">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th *ngIf="user.firstName">First name</th>
                  <th *ngIf="user.lastName">Last name</th>
                  <th>Email</th>
                  <th *ngIf="user.phoneNumber">Phone number</th>
                  <th>Organization</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="user.firstName">{{ user.firstName }}</td>
                  <td *ngIf="user.lastName">{{ user.lastName }}</td>
                  <td> {{ user.email }} </td>
                  <td *ngIf="user.phoneNumber">{{ user.phoneNumber }}</td>
                  <td>{{ organizationModel.name }}</td>
                  <td>{{ user.roleName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-ssn" (click)="registerUserWithPassword()">Register User</button>
        </div>
      </ssn-card>
    </div>
  </div>
</div>