<app-ssn-bg header="{{userHeader}}" icon="user.png">
  <div class="row">
    <div class="col">
      <app-ssn-card *ngIf="!isDrafted" header="Personal Details" icon="user-info.png" id="personalia">
        <form #f="ngForm" novalidate>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="email">Email</label>
                  <input id="email" name="email" class="form-control form-control-sm" placeholder="Enter email" [(ngModel)]="user.email" #email="ngModel"
                    [email]="true" (ngModelChange)="emailChecked = false" (blur)="userExists(email.valid)" autocomplete="username"
                    tmFocus validateEmail>
                  <small *ngIf="!email.valid && !email.pristine" class="text-danger">Please enter a valid email address</small>
                  <div *ngIf="emailChecked && !emailTaken">
                    <img height="16px" src="assets/images/icons/128x128/green/checkmark.png">
                    <small class="text-success">email available</small>
                  </div>
                  <div *ngIf="emailChecked && emailTaken">
                    <img height="16px" src="assets/images/icons/128x128/red/warning.png">
                    <small class="text-danger">email is already in use</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="given_name">Given name</label>
                  <input id="given_name" name="givenName" class="form-control form-control-sm" [(ngModel)]="user.givenName" placeholder="Enter Given name">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="surname">Surname</label>
                  <input id="surname" name="surname" class="form-control form-control-sm" [(ngModel)]="user.surname" placeholder="Enter surname">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="phone_number">Phone number</label>
                  <input id="phone_number" name="phoneNumber" class="form-control form-control-sm" [(ngModel)]="user.phoneNumber" placeholder="Enter phone number" type="number">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="company_phone_number">Company phone number</label>
                  <input id="company_phone_number" name="companyPhoneNumber" class="form-control form-control-sm" [(ngModel)]="user.companyPhoneNumber"
                    placeholder="Enter your company phone number" type="number">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="company_email">Company email</label>
                  <input id="company_email" name="companyEmail" class="form-control form-control-sm" [(ngModel)]="user.companyEmail" #compEmail="ngModel"
                    [email]="true" tmFocus validateEmail placeholder="Enter your company email address">
                </div>
                <small *ngIf="!compEmail.valid && !compEmail.pristine" class="text-danger">Please enter a valid email address</small>
              </div>
            </div>

            <!-- Password Change -->
            <div class="col-md-6 col-lg-6">
              <button class="btn btn-ssn" (click)="openPasswordChange()" *ngIf="!newUser">Change User Password</button>
            </div>

          </div>

        </form>
      </app-ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-ssn-card header="Select Agent Company" icon="pax.png">
        <div *ngIf="!organizationSelected">
          <app-search-organization [filter]="filterOrganization" (organizationResult)="onOrganizationResult($event)"></app-search-organization>
        </div>

        <div *ngIf="organizationSelected" class="text-center">
          <div class="table-responsive">
            <app-ssn-table [entryData]=organizationProperties></app-ssn-table>
          </div>
          <button class="btn btn-ssn" (click)="deselectOrganization()">
            <img src="assets/images/icons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
        </div>
      </app-ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-ssn-card header="User rights" icon="verification-clipboard.png">
        <div class="form-group">
          <div class="text-center">
            <span class="no-wrap">Select a role for this user</span>
          </div>
          <ng-select id="roleSelected" [items]="roleList" [multiple]="false" [closeOnSelect]="true" bindLabel="name" placeholder="Select role"
            [(ngModel)]="user.roleName">
          </ng-select>
        </div>
      </app-ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-ssn-card header="{{confirmHeader}}">
        <div class="text-center" *ngIf="!(user.email && emailChecked && !emailTaken && organizationSelected && user.roleName)">
          <div class="mb-3">
            <p class="mb-0" *ngIf="!user.email">Email not set.</p>
            <p class="mb-0" *ngIf="user.email && emailChecked && emailTaken">Selected email is already in use.</p>
            <p class="mb-0" *ngIf="!organizationSelected">Organization not selected.</p>
            <p class="mb-0" *ngIf="!user.roleName">Role not assigned.</p>
          </div>
          <button class="btn btn-ssn" disabled>{{confirmButtonTitle}}</button>
        </div>
        <div class="text-center" *ngIf="user.email && emailChecked && !emailTaken && organizationSelected && user.roleName">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th *ngIf="user.givenName">Given name</th>
                  <th *ngIf="user.surname">Surname</th>
                  <th>Email</th>
                  <th *ngIf="user.phoneNumber">Phone number</th>
                  <th>Organization</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="user.givenName">{{ user.givenName }}</td>
                  <td *ngIf="user.surname">{{ user.surname }}</td>
                  <td> {{ user.email }} </td>
                  <td *ngIf="user.phoneNumber">{{ user.phoneNumber }}</td>
                  <td>{{ organizationModel.name }}</td>
                  <td>{{ user.roleName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-ssn" (click)="registerUser()">{{confirmButtonTitle}}</button>
        </div>
      </app-ssn-card>
    </div>
  </div>
</app-ssn-bg>



<!-- <ng-template #template let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">User registration result</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="registrationSuccessful">
      <span>User registered successfully.</span>
      <br>
      <span>Please click the link below to set a new password for the user:</span>
      <br>
      <span><a href={{emailConfirmationLink}}>link</a></span>
    </div>
    <div *ngIf="!registrationSuccessful">
      <span>Something went wrong while attempting to register the user!</span>
    </div>
    <button type="button" class="btn btn-ssn" (click)="close">
        <span>Close</span>
      </button>
  </div>
</ng-template> -->