<app-ssn-card [header]="'New Consignment'">
  <button class="btn btn-ssn btn-lg" (click)="openModal(consignmentModal)">New Consignment</button>
</app-ssn-card>
<div *ngFor="let entry of consignmentWithTableDataList">
  <app-ssn-card [header]="entry.consignmentModel.name || 'Consignment without name'" [collapsible]="true">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="text-center" *ngIf="entry.portOfLoadingData">
          <table class="table table-bordered text-center mx-auto mb-0">
            <thead class="bg-ssn text-white">
              <tr>
                <th class="py-1">
                  <h5 class="mb-0">Port Of Loading</h5>
                </th>
              </tr>
            </thead>
          </table>
          <div class="table-responsive">
            <app-ssn-table [entryData]="entry.portOfLoadingData"></app-ssn-table>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="text-center" *ngIf="entry.portOfDischargeData">
          <table class="table table-bordered text-center mx-auto mb-0">
            <thead class="bg-ssn text-white">
              <tr>
                <th class="py-1">
                  <h5 class="mb-0">Port Of Discharge</h5>
                </th>
              </tr>
            </thead>
          </table>
          <div class="table-responsive">
            <app-ssn-table [entryData]="entry.portOfDischargeData"></app-ssn-table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="mb-0">Remark:</p>
        <textarea readonly disabled rows="5" cols="40" style="resize: none" value="{{ entry.consignmentModel.remark }}"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-ssn btn-md" (click)="openModal(consignmentModal, entry.consignmentModel)">
          <img src="assets/images/icons/128x128/white/edit.png" height="24px">
          <span> Edit Consignment</span>
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <app-cargo-table *ngIf="entry.consignmentModel.cargoItem" [cargoItemList]="entry.consignmentModel.cargoItem"></app-cargo-table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <button class="btn btn-ssn btn-md" (click)="openModal(cargoItemModal, entry.consignmentModel)">
          <span> New Cargo Item</span>
        </button>
      </div>
    </div>
  </app-ssn-card>
</div>

<app-ssn-card [header]="'Save Consignments'">
  <div class="text-center">
    <span *ngIf="dataIsPristine">There are no unsaved changes on this page.</span>
    <br>
    <div *ngIf="!(saving || dataIsPristine)">
      <button class="btn btn-ssn mt-2" (click)="saveChanges()">
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span> Save Consignments</span>
      </button>
    </div>
    <div *ngIf="saving || dataIsPristine">
      <button class="btn btn-ssn mt-2" [disabled]="true">
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span> Save Consignments</span>
      </button>
      <span *ngIf="saving"> Saving...</span>
    </div>
  </div>
</app-ssn-card>

<ng-template #cargoItemModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">{{ cargoItemModalHeader }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-cargo-item-form [cargoItemModel]="openCargoItem"></app-cargo-item-form>
  </div>
  <div class="modal-footer">
    <div *ngIf="openCargoItem.shippingMarks && openCargoItem.containerIdentification && openCargoItem.packageType && openCargoItem.packageTypeId && openCargoItem.grossVolume
    && openCargoItem.grossWeight && openCargoItem.hsCode && openCargoItem.numberOfPackages">
      <button class="btn btn-ssn mt-2" (click)="saveCargoItem(); close">
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span> Save</span>
      </button>
    </div>
    <div *ngIf="!(openCargoItem.shippingMarks && openCargoItem.containerIdentification && openCargoItem.packageType && openCargoItem.packageTypeId && openCargoItem.grossVolume
    && openCargoItem.grossWeight && openCargoItem.hsCode && openCargoItem.numberOfPackages)">
      <button class="btn btn-ssn mt-2" disabled>
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span> Save</span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #consignmentModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">{{ consignmentModalHeader }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-consignment-form [consignmentModel]="consignmentCopy"></app-consignment-form>
  </div>
  <div class="modal-footer">
    <div *ngIf="consignmentCopy.name && consignmentCopy.portOfLoadingId && consignmentCopy.portOfDischargeId">
      <button class="btn btn-ssn mt-2" (click)="saveConsignment(); close">
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span> Save</span>
      </button>
    </div>
    <div *ngIf="!(consignmentCopy.name && consignmentCopy.portOfLoadingId && consignmentCopy.portOfDischargeId)">
      <button class="btn btn-ssn mt-2" disabled>
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span> Save</span>
      </button>
    </div>
  </div>
</ng-template>