<div class="jumbotron bg-ssn-light">
  <div class="row card-ssn text-center">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/portcall.png" height="64px">
    </div>
    <div class="col-8">
      <h3 class="text-ssn display-4">REGISTER PORT CALL</h3>
    </div>
  </div>

  <div [ngSwitch]="selectedComponent">
      <app-port-call-registration-forms *ngSwitchCase="'Ship Location and Time'"></app-port-call-registration-forms>
      
      <p *ngSwitchDefault>This is the default page</p>
  </div>

  
</div>
<app-progress-bar></app-progress-bar>
