<app-ssn-card header="Select Arrival and Departure Time" icon="time.png">
  <div class="row">

    <div class="col-lg-6">
      <app-date-time-picker header="ETA" (dateTimeResult)="onEtaResult($event)"></app-date-time-picker>
    </div>

    <div class="col-lg-6">
      <app-date-time-picker header="ETD" (dateTimeResult)="onEtdResult($event)"></app-date-time-picker>
    </div>

  </div>
  
  <div class="row" *ngIf="dateSequenceError">
    <div class="col-2"></div>
    <div class="col-8 alert alert-danger" role="alert">
      <span>Departure date can not be before arrival date.</span>
    </div>
  </div>
  <div class="row" *ngIf="timeSequenceError">
    <div class="col-2"></div>
    <div class="col-8 alert alert-danger" role="alert">
      <span>Departure time must be after arrival time.</span>
    </div>
  </div>
</app-ssn-card>