<footer class="footer bg-ssn text-ssn text-center">
  <div class="row">
    <div class="col-4 footer-section">
    </div>
    <div class="col-4 footer-section">
      <div class="d-table">
        <div class="d-table-row">
          <div class="d-table-cell py-1">
            <small class="no-wrap">
              An Open Source Maritime
            </small>
            <small class="no-wrap">
              Single Window project.
            </small>
          </div>
        </div>
        <div class="d-table-row">
          <div class="d-table-cell py-1">
            <small>Available at </small>
            <a href="https://github.com/Fundator/IMO-Maritime-Single-Window/" target="_blank" title="GitHub">
              <small class="text-ssn">GitHub</small>
              <img src="/assets/images/VoyageIcons/128x128/white/github.png" height="24px" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 footer-section">
      <div class="d-table">
        <div class="d-table-row">
          <div class="d-table-cell py-1">
            <span>Coordinated by</span>
            <a href="https://www.imo.org/" target="_blank">
              <img src="/assets/images/imo-logo.png" alt="IMO" title="International Maritime Organization" height="48px" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>