<div class="row">
  <div class="col">
    <app-port-call-details></app-port-call-details>
  </div>
</div>

<div *ngFor="let entry of falForms">
  <div class="row" *ngIf="entry.checked">
    <div class="col">
      <ssn-card title="{{entry.name}}" icon="{{entry.icon}}" collapsible=true>
        <div [ngSwitch]="entry.name">
          <div *ngSwitchDefault class="text-center">
            <img src="{{iconPath}}warning.png" height="24px" />
            <span class="no-wrap">{{ entry.name }} information</span>
            <span class="no-wrap">is marked for delivery,</span>
            <span class="no-wrap">but no information is provided.</span>
          </div>
        </div>
      </ssn-card>
    </div>
  </div>
</div>