<app-ssn-card header="Select Location" icon="location.png">

    <div *ngIf="!locationFound" class="text-center">
        <app-search-location [restrictTypeHarbour]=true [showDropdown]=true (locationResult)="onLocationResult($event)"></app-search-location>
    </div>

    <div *ngIf="locationFound" class="text-center">
        <div class="table-responsive">
            <app-ssn-table [entryData]="locationProperties"></app-ssn-table>
        </div>
        <button class="btn btn-ssn" (click)="deselectLocation()">
            <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
    </div>
</app-ssn-card>