<app-ssn-card header="Select Location" icon="location.png">

    <div *ngIf="!locationFound" class="text-center">
        <div class="text-center">
            <label for="search-location">Search using location name or UN/LOCODE code</label>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <app-search-location [restrictTypeHarbour]=true [showDropdown]=true (locationResult)="onLocationResult($event)"></app-search-location>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="locationFound" class="text-center">
        <div class="table-responsive">
            <app-ssn-table [entryData]="locationProperties"></app-ssn-table>
        </div>
        <button class="btn btn-ssn" (click)="deselectLocation()">
            <img src="assets/images/icons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
    </div>
</app-ssn-card>