<div class="container pt-5">
  <app-ssn-bg header="FORGOT PASSWORD">
    <app-ssn-card header="Forgot password">
      <div class="row">
        <div class="text-center col col-sm-2 col-md-4 col-lg-2 col-xl-6">
          <p>Please input the email you registered an account with. We will send you an email to that address, providing you
            with a link to a page where you can reset your password.
          </p>
        </div>
      </div>
      <div class="form-group row">

        <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="email">Email</label>
        <div class="col">
          <input id="email" name="email" class="form-control form-control-sm" type="email" placeholder="Enter email address" [(ngModel)]="email"
            tmFocus validateEmail>
        </div>

      </div>
      <div class="form-group row">
        <div class="col col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <button class="btn btn-ssn" (click)="sendPasswordResetRequest()">Send email link</button>
        </div>
      </div>
    </app-ssn-card>

  </app-ssn-bg>
</div>