<div class="jumbotron bg-ssn-light">
  <div class="row card-ssn text-center">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/user.png" height="64px">
    </div>
    <div class="col-8">
      <h3 class="text-ssn display-4">REGISTER USER</h3>
    </div>
  </div>

  <div class="card card-ssn text-center">
    <div class="card-header bg-ssn text-ssn">
      <div class="row">
        <div class="col-2">
          <img src="assets/images/VoyageIcons/128x128/white/user-info.png" height="32px" />
        </div>
        <div class="col-8">
          <h4>Personalia</h4>
        </div>
      </div>
    </div>

    <div class="card-body text-left">
      <form>

        <div class="form-group">
          <label class="control-label" for="first_name">First name</label>
          <div class="col-sm-4">
            <input id="first_name" class="form-control form-control-sm">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="last_name">Last name</label>
          <div class="col-sm-4">
            <input id="last_name" class="form-control form-control-sm">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="email">Email</label>
          <div class="col-sm-4">
            <input id="email" class="form-control form-control-sm">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="phone_number">Phone number</label>
          <div class="col-sm-4">
            <input id="phone_number" class="form-control form-control-sm">
          </div>
        </div>
      </form>
    </div>

    <div class="card card-ssn text-center">
      <div class="card-header bg-ssn text-ssn">
        <div class="row">
          <div class="col-2">
            <img src="assets/images/VoyageIcons/128x128/white/user-info.png" height="32px" />
          </div>
          <div class="col-8">
            <h4>User</h4>
          </div>
        </div>
      </div>

      <div class="card-body text-left">
        <form>

          <div class="form-group">
            <label class="control-label" for="user_name">User name</label>
            <div class="col-sm-4">
              <input id="user_name" class="form-control form-control-sm">
            </div>
          </div>

          <div class="form-group">
              <label class="control-label" for="pwd">Password</label>
              <div class="col-sm-4">
                <input type=password id="pwd" class="form-control form-control-sm">
              </div>
            </div>

        </form>
      </div>
    </div>
  </div>
</div>