<div class="jumbotron bg-ssn-light">
  <div class="row card-ssn text-center">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/user.png" height="64px">
    </div>
    <div class="col-8">
      <h3 class="text-ssn display-4">REGISTER USER</h3>
    </div>
  </div>

  <div class="card card-ssn text-center">

    <div class="card-header bg-ssn text-ssn">
      <div class="row">
        <div class="col-2">
          <img src="assets/images/VoyageIcons/128x128/white/user-info.png" height="32px" />
        </div>
        <div class="col-8">
          <h4>Personalia</h4>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="control-label" for="person_name">First name</label>
          <div class="col-sm-10">
            
          </div>
        </div>
      </form>
    </div>
    
  </div>
</div>