<div class="card card-ssn text-center">
  <div class="card-header bg-ssn text-ssn">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="32px" />
      </div>
      <div class="col-8">
        <h4>Confirm Port Call</h4>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div *ngIf="!shipFound || !locationFound || !dateTimeFound">
      <p *ngIf="!shipFound" class="mb-0">No ship selected.</p>
      <p *ngIf="!locationFound" class="mb-0">No location selected.</p>
      <p *ngIf="!dateTimeFound">ETA and ETD not set.</p>
      <button class="btn btn-ssn" disabled="true">
        <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Confirm</button>
    </div>

    <div *ngIf="shipFound && locationFound && dateTimeFound">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="bg-ssn text-ssn">
              <th>Ship flag</th>
              <th>Ship name</th>
              <th>Location Name</th>
              <th>Location Code</th>
              <th>ETA</th>
              <th>ETD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="assets/images/Flags/{{shipModel.twoCharCode}}.png" height="20px" />
              </td>
              <td>{{ shipModel.shipName }}</td>
              <td>{{ locationModel.locationName }}</td>
              <td>{{ locationModel.locationCode }}</td>
              <td>{{ etaEtdModel.eta.year }}-{{ dateTimeFormat(etaEtdModel.eta.month) }}-{{ dateTimeFormat(etaEtdModel.eta.day)
                }} {{ dateTimeFormat(etaEtdModel.eta.hour) }}:{{ dateTimeFormat(etaEtdModel.eta.minute) }}</td>
              <td>{{ etaEtdModel.etd.year }}-{{ dateTimeFormat(etaEtdModel.etd.month) }}-{{ dateTimeFormat(etaEtdModel.etd.day)
                }} {{ dateTimeFormat(etaEtdModel.etd.hour) }}:{{ dateTimeFormat(etaEtdModel.etd.minute) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-ssn">
        <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Confirm</button>
    </div>
  </div>
</div>