<div class="card card-ssn text-center">
  <div class="card-header bg-ssn text-ssn">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/VoyageIcons/128x128/white/time.png" height="32px" />
      </div>
      <div class="col-8">
        <h4>Select Arrival and Departure Time</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label for="eta_date_input">ETA</label>
          <div class="input-group">
            <input id="eta_date_input" class="form-control" placeholder="yyyy-MM-dd" name="dp-eta" [showWeekNumbers]="true" [(ngModel)]="etaDateModel"
              ngbDatepicker #eta="ngbDatepicker" (ngModelChange)="dateChanged($event)">
            <div class="input-group-append">
              <button class="btn btn-ssn" (click)="eta.toggle()" type="button">
                <img src="assets/images/VoyageIcons/128x128/white/calendar.png" style="width: 1.4rem; cursor: pointer;" />
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!validFormat(etaDateModel)" class="alert alert-danger" role="alert">
          <strong>Invalid date format!</strong> Format should be yyyy-MM-dd
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="etd_date_input">ETD</label>
          <div class="input-group">
            <input id="etd_date_input" class="form-control" placeholder="yyyy-MM-dd" name="dp-etd" [showWeekNumbers]="true" [(ngModel)]="etdDateModel"
              ngbDatepicker #etd="ngbDatepicker" (ngModelChange)="dateChanged($event)">
            <div class="input-group-append">
              <button class="btn btn-ssn" (click)="etd.toggle()" type="button">
                <img src="assets/images/VoyageIcons/128x128/white/calendar.png" style="width: 1.4rem; cursor: pointer;" />
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!validFormat(etdDateModel)" class="alert alert-danger" role="alert">
          <strong>Invalid date format!</strong> Format should be yyyy-MM-dd
        </div>
      </div>

    </div>

    <div class="row" *ngIf="dateSequenceError">
      <div class="col-2"></div>
      <div class="col-8 alert alert-danger" role="alert">
        <strong>Departure date is before arrival date!</strong>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <ngb-timepicker [(ngModel)]="etaTimeModel"></ngb-timepicker>
      </div>
      <div class="col-6">
        <ngb-timepicker [(ngModel)]="etdTimeModel"></ngb-timepicker>
      </div>
    </div>
  </div>
</div>