<app-ssn-bg header="{{ locationHeader }}" icon="location.png">

  <div class="row">
    <div class="col">
      <app-ssn-card header="Location Information" icon="pax.png">
        <form>
          <pre>{{ locationModel | json }}</pre>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3 col-xl-3" for="location_type_dropdown">Location Type</label>
                <div class="col">
                  <div ngbDropdown>
                    <button class="btn btn-sm btn-ssn" id="location_type_dropdown" ngbDropdownToggle> {{ locationTypeDropdownString }}</button>
                    <div ngbDropdownMenu aria-labelledby="location_type_dropdown">
                      <button class="dropdown-item" *ngFor="let locationType of locationTypeList" (click)="selectLocationType(locationType)">{{ locationType.name }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3 col-xl-3" for="location_name">Location Name</label>
                <div class="col">
                  <input [(ngModel)]="locationModel.name" name="locationName" type="text" class="form-control form-control-sm" id="location_name"
                    placeholder="Enter location name" />
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3 col-xl-3" for="location_code">Location Code</label>
                <div class="col">
                  <input [(ngModel)]="locationModel.locationCode" name="locationCode" type="text" class="form-control form-control-sm" id="location_code"
                    placeholder="Enter location code" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6" *ngIf="!countrySelected">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3 col-xl-3" for="country_select">Country</label>
                <div class="col">
                  <ng-select id="country_select" name="country_select" [items]="countryList" [multiple]="false" [closeOnSelect]="true" bindLabel="name"
                    placeholder="Select country" [(ngModel)]="selectedCountry" (change)="selectCountry($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-lg-6" *ngIf="countrySelected">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3 col-xl-3" for="country">Country</label>
                <div class="col">
                  <div class="input-group">
                    <input id="country" name="country" type="text" class="form-control form-control-sm" [ngModel]="selectedCountry.name" disabled="true"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-ssn" (click)="deselectCountry()">
                        <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="16px">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3 col-xl-3" for="location_post_code">Post Code</label>
                <div class="col">
                  <input [(ngModel)]="locationModel.postCode" name="locationPostCode" type="text" class="form-control form-control-sm" id="location_post_code"
                    placeholder="Enter location post code" />
                </div>
              </div>
            </div>
          </div>

        </form>
      </app-ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <app-ssn-card header='{{ confirmHeader }}' icon="checkmark.png">
          <div class="text-center" *ngIf="!(locationTypeSelected && locationModel.name && countrySelected)">
            <p *ngIf="!locationTypeSelected" class="no-wrap mb-0">Location type not selected.</p>
            <p *ngIf="!locationModel.name" class="no-wrap mb-0">Location name not set.</p>
            <p *ngIf="!countrySelected" class="no-wrap">Country not selected.</p>
            <button class="btn btn-ssn" disabled>
              <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> {{ confirmButtonTitle }}</button>
          </div>
          <div class="text-center" *ngIf="locationTypeSelected && locationModel.name && countrySelected">
            <button class="btn btn-ssn" (click)="registerLocation()">
              <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> {{ confirmButtonTitle }}</button>
          </div>
        </app-ssn-card>
      </div>
    </div>
  </div>

</app-ssn-bg>