<app-ssn-card header="Select Ship" icon="ship.png">

  <div *ngIf="!shipFound">
    <app-search-ship (shipResult)="onShipResult($event)"></app-search-ship>
  </div>

  <div *ngIf="shipFound" class="text-center">
    <div class="table-responsive">
      <app-ssn-table [entryData]=shipData></app-ssn-table>
    </div>
    <button class="btn btn-ssn" (click)="deselectShip()">
      <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
  </div>
</app-ssn-card>