<div class="jumbotron bg-ssn-light text-center">
  <div class="row">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/pax.png" height="64px">
    </div>
    <div class="col-8">
      <h3 class="text-ssn display-4">REGISTER ORGANIZATION</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ssn-card header="Organization Information" icon="pax.png">
        <form>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-4 col-xl-3" for="organization_type_dropdown">Organization Type</label>
                <div class="col">
                  <div ngbDropdown>
                    <button class="btn btn-sm btn-ssn" id="organization_type_dropdown" ngbDropdownToggle> {{ organizationTypeDropdownString }}</button>
                    <div ngbDropdownMenu aria-labelledby="organization_type_dropdown">
                      <button class="dropdown-item" *ngFor="let organizationType of organizationTypeList" (click)="selectOrganizationType(organizationType)">{{ organizationType.name }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-4 col-xl-3" for="organization_name">Organization Name</label>
                <div class="col">
                  <input [(ngModel)]="organizationModel.name" name="organizationName" type="text" class="form-control form-control-sm" id="organization_name"
                    placeholder="Enter organization name" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4 col-xl-3" for="organization_no">Organization Number</label>
                <div class="col">
                  <input [(ngModel)]="organizationModel.organizationNo" name="organizationNo" type="text" class="form-control form-control-sm"
                    id="organization_no" placeholder="Enter organization number">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-5 col-xl-4" for="invoice_receiver_no">Invoice Receiver Number</label>
                <div class="col">
                  <input [(ngModel)]="organizationModel.invoiceReceiverNo" name="invoiceReceiverNo" type="text" class="form-control form-control-sm"
                    id="invoice_receiver_no" placeholder="Enter invoice receiver number">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3 col-xl-2" for="description">Description</label>
                <div class="col">
                  <input [(ngModel)]="organizationModel.description" name="description" type="text" class="form-control form-control-sm" id="description"
                    placeholder="Enter description">
                </div>
              </div>
            </div>
          </div>

        </form>
      </ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ssn-card header="Confirm Organization Registration" icon="checkmark.png">
        <div *ngIf="!organizationTypeSelected || !organizationModel.name || !organizationModel.organizationNo"
          class="text-center">
          <p *ngIf="!organizationTypeSelected" class="no-wrap mb-0">No organization type selected.</p>
          <p *ngIf="!organizationModel.name" class="no-wrap mb-0">Organization name not set.</p>
          <p *ngIf="!organizationModel.organizationNo" class="no-wrap">Organization number not set.</p>
          <button class="btn btn-ssn" disabled>
            <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Register Organization</button>
        </div>

        <div *ngIf="organizationTypeSelected && organizationModel.name && organizationModel.organizationNo" class="text-center">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Organization Name</th>
                  <th>Organization Type</th>
                  <th>Organization Number</th>
                  <th *ngIf="organizationModel.description">Description</th>
                  <th *ngIf="organizationModel.invoiceReceiverNo">Invoice Receiver Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ organizationModel.name }}</td>
                  <td>{{ selectedOrganizationType.name }}</td>
                  <td>{{ organizationModel.organizationNo }}</td>
                  <td *ngIf="organizationModel.description">{{organizationModel.description}}</td>
                  <td *ngIf="organizationModel.invoiceReceiverNo">{{ organizationModel.invoiceReceiverNo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-ssn" (click)="registerOrganization()">
            <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Register Organization</button>
        </div>
      </ssn-card>
    </div>
  </div>
</div>