<form>

  <div class="jumbotron">
    <h4>User details</h4>
    <div class="form-group">
      <label for="first_name">First name</label>
      <input type="text" class="form-control" id="first_name" placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="middle_name">Middle name</label>
      <input type="text" class="form-control" id="middle_name" placeholder="Enter middle name">
    </div>
    <div class="form-group">
      <label for="last_name">Last name</label>
      <input type="text" class="form-control" id="last_name" placeholder="Enter last name">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country">
        <option>Norway (NO)</option>
        <option>Antigua and Barbuda (AG)</option>
      </select>
    </div>
  </div>

  <div class="jumbotron">
    <h4>Contact information</h4>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
    </div>
    <div class="form-group">
      <label for="fax">Fax</label>
      <input type="text" class="form-control" id="fax" placeholder="Enter fax">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email address">
    </div>
  </div>

  <div class="jumbotron">
    <h4>Organisation</h4>

    <div class="form-group">
      <label for="organisation">Organisation name</label>
      <select class="form-control" id="organisation">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </div>

  <div class="jumbotron">
    <h4>Confirm</h4>
    <button type="submit" class="btn btn-ssn">Create new user</button>
  </div>

</form>