<div class="row">
  <div class="col-sm col-md-6 col-lg-4">
    <app-ssn-card header='Register New Organization' icon='pax.png'>
      <div class="text-center">
        <button class="btn btn-ssn" (click)="registerNewOrganization()">Register New Organization</button>
      </div>
    </app-ssn-card>
  </div>
</div>

<app-ssn-card header="Organization Search" icon="pax.png">
  <div *ngIf="!organizationFound">
    <app-search-organization [showDropdown]=false></app-search-organization>
  </div>

  <br>

  <div>
    <app-organization-smart-table></app-organization-smart-table>
  </div>
</app-ssn-card>