<app-ssn-card header="Activate Port Call" icon="save.png" class="text-center">
  <div class="text-center">
    <div *ngIf="!detailsDataIsPristine" class="row">

      <div *ngIf="detailsMeta.valid" class="col">
        <div class="alert alert-warning">
          <span>Warning: Port Call Details are unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="saveDetails()">
            <img src="assets/images/VoyageIcons/128x128/white/save.png" height="24px"> Save Details</button>
        </div>
      </div>

      <div *ngIf="!detailsMeta.valid" class="col">
        <div class="alert alert-danger">
          <span>Error: Port Call Details contains invalid data.</span>
          <br>
          <button class="btn btn-ssn mt-2" disabled>
            <img src="assets/images/VoyageIcons/128x128/white/save.png" height="24px"> Save Details</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!portCallIsDraft">
      <div class="col">
        <div class="text-center">
          <span>Port call is already active. You can still update the information.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="goBack()">
            <img src="assets/images/VoyageIcons/128x128/white/left-arrow.png" height="24px"> Return to overview</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="portCallIsDraft">
      <div *ngIf="detailsDataIsPristine && detailsMeta.valid" class="col">
        <p class="mb-0">After activating the port call, it will no longer be a draft, and it will be visble for authorities to review.</p>
        <p>This action cannot be undone.</p>
        <button class="btn btn-ssn" (click)="send()">
          <img src="assets/images/VoyageIcons/128x128/white/save.png" height="24px"> Activate</button>
      </div>
      <div *ngIf="!(detailsDataIsPristine && detailsMeta.valid)" class="col">
        <button class="btn btn-ssn" disabled>
          <img src="assets/images/VoyageIcons/128x128/white/save.png" height="24px"> Activate</button>
      </div>
    </div>

  </div>
</app-ssn-card>