<app-ssn-card header="Activate Port Call" icon="save.png" class="text-center">
  <div class="text-center">

    <div *ngIf="numberOfCrewError" class="row">
      <div class="col">
        <div class="alert alert-danger">
          <span>Error: Crew information does not correspond to number of crew specified.</span>
          <br>
        </div>
      </div>
    </div>

    <div *ngIf="numberOfPassengersError" class="row">
      <div class="col">
        <div class="alert alert-danger">
          <span>Error: Passenger information does not correspond to number of passengers specified.</span>
          <br>
        </div>
      </div>
    </div>

    <div *ngIf="!voyagesIsPristine" class="row">

      <div *ngIf="!voyagesErrors" class="col">
        <div class="alert alert-warning">
          <span>Warning: Voyages are unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="saveVoyages()">
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Voyages</button>
        </div>
      </div>

      <div *ngIf="voyagesErrors" class="col">
        <div class="alert alert-danger">
          <span>Error: Voyages contains invalid data.</span>
          <br>
          <button class="btn btn-ssn mt-2" disabled>
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Voyages</button>
        </div>
      </div>
    </div>

    <div *ngIf="!detailsDataIsPristine" class="row">

      <div *ngIf="detailsMeta.valid" class="col">
        <div class="alert alert-warning">
          <span>Warning: Port Call Details are unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="saveDetails()">
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Details</button>
        </div>
      </div>

      <div *ngIf="!detailsMeta.valid" class="col">
        <div class="alert alert-danger">
          <span>Error: Port Call Details contains invalid data.</span>
          <br>
          <button class="btn btn-ssn mt-2" disabled>
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Details</button>
        </div>
      </div>
    </div>

    <div *ngIf="!cargoDataIsPristine && cargoIsChecked" class="row">
      <div class="col">
        <div class="alert alert-warning">
          <span>Warning: Cargo data is unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="saveCargo()">
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Cargo
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!shipStoresDataIsPristine && reportingShipStoresIsChecked" class="row">
      <div class="col">
        <div class="alert alert-warning">
          <span>Warning: Ship Stores data is unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="saveShipStores()">
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Ship Stores
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!passengerDataIsPristine && passengerListIsChecked" class="row">
      <div class="col">
        <div class="alert alert-warning">
          <span>Warning: Passenger data is unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="savePassengerList()">
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Passenger List
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!crewDataIsPristine && crewListIsChecked" class="row">
      <div class="col">
        <div class="alert alert-warning">
          <span>Warning: Crew list data is unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="saveCrewList()">
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save Crew List
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="allowSavingSecurity" class="row">
      <div class="col">
        <div class="alert alert-warning">
          <span>Warning: Security data is unsaved.</span>
          <br>
          <app-save-security-button [portCallId]="portCallId"></app-save-security-button>
        </div>
      </div>
    </div>

    <div *ngIf="!dpgDataIsPristine && dpgIsChecked" class="row">
      <div class="col">
        <div class="alert alert-warning">
          <span>Warning: DPG data is unsaved.</span>
          <br>
          <button class="btn btn-ssn mt-2" (click)="saveDpgOnBoardList()">
            <img src="assets/images/icons/128x128/white/save.png" height="24px"> Save DPG List
          </button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="portCallIsDraft">
      <div *ngIf="(detailsDataIsPristine && detailsMeta.valid) && voyagesIsPristine && !numberOfCrewError && !numberOfPassengersError"
        class="col">
        <p class="mb-0">After activating the port call, it will no longer be a draft, and will be visible for
          authorities to review.</p>
        <button class="btn btn-ssn" (click)="send()">
          <img src="assets/images/icons/128x128/white/save.png" height="24px"> Activate</button>
      </div>
      <div *ngIf="!((detailsDataIsPristine && detailsMeta.valid) && voyagesIsPristine) || (numberOfCrewError || numberOfPassengersError)"
        class="col">
        <button class="btn btn-ssn" disabled>
          <img src="assets/images/icons/128x128/white/save.png" height="24px"> Activate</button>
      </div>
    </div>

  </div>
</app-ssn-card>