<ng-template #viewModal let-close="close()" class="modal fade">
  <div class="modal-header">
    <h4 class="modal-title">View</h4>
    <button type="button" class="close" aria-label="Close" (click)="resetInputPassengerModel(); close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body" *ngIf="inputPassengerModel">
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Given Name</label>
      <div class="col my-auto">
        <input class="form-control form-control-sm" [ngModel]="inputPassengerModel.givenName" readonly type="text" name="givenName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Family Name</label>
      <div class="col my-auto">
        <input class="form-control form-control-sm" [ngModel]="inputPassengerModel.familyName" readonly type="text" name="familyName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Date of Birth</label>
      <div class="col my-auto">
        <input class="form-control form-control-sm" readonly type="text" name="dateOfBirth" [ngModel]="getDisplayDateFormat(inputPassengerModel.dateOfBirth)">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Country of Birth</label>
      <div class="col my-auto">
        <div class="input-group input-group-sm" *ngIf="inputPassengerModel.countryOfBirth">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img src="assets/images/flags/128x128/{{ inputPassengerModel.countryOfBirth.twoCharCode | lowercase}}.png" height="16px">
            </span>
          </div>
          <input class="form-control" [ngModel]="inputPassengerModel.countryOfBirth.name" readonly type="text" name="countryOfBirth">
        </div>
        <input *ngIf="!inputPassengerModel.countryOfBirth" class="form-control form-control-sm" readonly type="text" name="countryOfBirth">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Nationality</label>
      <div class="col my-auto">
        <div class="input-group input-group-sm" *ngIf="inputPassengerModel.nationality">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img src="assets/images/flags/128x128/{{ inputPassengerModel.nationality.twoCharCode | lowercase}}.png" height="16px">
            </span>
          </div>
          <input class="form-control" [ngModel]="inputPassengerModel.nationality.name" readonly type="text" name="nationality">
        </div>
        <input *ngIf="!inputPassengerModel.nationality" class="form-control form-control-sm" readonly type="text" name="nationality">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Gender</label>
      <div class="col my-auto">
        <input *ngIf="inputPassengerModel.gender" class="form-control form-control-sm" [ngModel]="inputPassengerModel.gender.description"
          readonly type="text" name="gender">
        <input *ngIf="!inputPassengerModel.gender" class="form-control form-control-sm" readonly type="text" name="gender">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Transit</label>
      <div class="col my-auto">
        <input class="form-control form-control-sm" [ngModel]="formBooleanModel[inputPassengerModel.inTransit]" readonly type="text"
          name="inTransit">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Port of Embarkation</label>
      <div class="col my-auto">
        <div class="input-group input-group-sm" *ngIf="inputPassengerModel.portOfEmbarkation">
          <div class="input-group-prepend">
            <span class="input-group-text" *ngIf="inputPassengerModel.portOfEmbarkation.country">
              <img src="assets/images/flags/128x128/{{ inputPassengerModel.portOfEmbarkation.country.twoCharCode | lowercase}}.png" height="20px">
            </span>
          </div>
          <input class="form-control" [ngModel]="inputPassengerModel.portOfEmbarkation.name" readonly type="text" name="portOFEmbarkation">
        </div>
        <input *ngIf="!inputPassengerModel.portOfEmbarkation" class="form-control form-control-sm" readonly type="text" name="portOFEmbarkation">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Port of Disembarkation</label>
      <div class="col my-auto">
        <div class="input-group input-group-sm" *ngIf="inputPassengerModel.portOfDisembarkation">
          <div class="input-group-prepend">
            <span class="input-group-text" *ngIf="inputPassengerModel.portOfDisembarkation.country">
              <img src="assets/images/flags/128x128/{{ inputPassengerModel.portOfDisembarkation.country.twoCharCode | lowercase}}.png"
                height="20px">
            </span>
          </div>
          <input class="form-control" [ngModel]="inputPassengerModel.portOfDisembarkation.name" readonly type="text" name="portOfDisembarkation">
        </div>
        <input *ngIf="!inputPassengerModel.portOfDisembarkation" class="form-control form-control-sm" readonly type="text" name="portOfDisembarkation">
      </div>
    </div>

    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Identity Document Type</label>
      <div class="col my-auto">
        <input *ngIf="inputPassengerModel.identityDocument[0].identityDocumentType" class="form-control form-control-sm" [ngModel]="inputPassengerModel.identityDocument[0].identityDocumentType.description"
          readonly type="text" name="identityDocumentType">
        <input *ngIf="!inputPassengerModel.identityDocument[0].identityDocumentType" class="form-control form-control-sm" readonly
          type="text" name="identityDocumentType">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Number of Identity Document</label>
      <div class="col my-auto">
        <input *ngIf="inputPassengerModel.identityDocument[0]" class="form-control form-control-sm" [ngModel]="inputPassengerModel.identityDocument[0].identityDocumentNumber"
          readonly type="text" name="identityDocumentNumber">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Issuing Nation</label>
      <div class="col my-auto">
        <div class="input-group input-group-sm" *ngIf="inputPassengerModel.identityDocument[0].issuingNation">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img src="assets/images/flags/128x128/{{ inputPassengerModel.identityDocument[0].issuingNation.twoCharCode | lowercase}}.png"
                height="20px">
            </span>
          </div>
          <input class="form-control" [ngModel]="inputPassengerModel.identityDocument[0].issuingNation.name" readonly type="text" name="issuingNation">
        </div>
        <input *ngIf="!inputPassengerModel.identityDocument[0].issuingNation" class="form-control form-control-sm" readonly type="text"
          name="issuingNation">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Identity Document Issue Date</label>
      <div class="col my-auto">
        <input class="form-control form-control-sm" [ngModel]="getDisplayDateFormat(inputPassengerModel.identityDocument[0].identityDocumentIssueDate)"
          readonly type="text" name="identityDocumentIssueDate">
        <input *ngIf="!inputPassengerModel.identityDocument[0].identityDocumentIssueDate" class="form-control form-control-sm" readonly
          type="text" name="identityDocumentIssueDate">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Identity Document Expiry Date</label>
      <div class="col my-auto">
        <input *ngIf="inputPassengerModel.identityDocument[0].identityDocumentExpiryDate" class="form-control form-control-sm" [ngModel]="getDisplayDateFormat(inputPassengerModel.identityDocument[0].identityDocumentExpiryDate)"
          readonly type="text" name="identityDocumentExpiryDate">
        <input *ngIf="!inputPassengerModel.identityDocument[0].identityDocumentExpiryDate" class="form-control form-control-sm" readonly
          type="text" name="identityDocumentExpiryDate">
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label-sm no-wrap mb-0">Visa or Residence Permit Number</label>
      <div class="col my-auto">
        <input *ngIf="inputPassengerModel.identityDocument[0]" class="form-control form-control-sm" [ngModel]="inputPassengerModel.identityDocument[0].visaOrResidencePermitNumber"
          readonly type="text" name="visaOrResidencePermitNumber">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ssn" (click)="resetInputPassengerModel(); close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>

<ng-template #editModal let-close="close()">
  <form #editForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title">Edit</h4>
      <button type="button" class="close" aria-label="Close" (click)="resetInputPassengerModel(); close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="inputPassengerModel">

      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Given Name</label>
        <div class="col my-auto">
          <input class="form-control form-control-sm" #givenName="ngModel" [(ngModel)]="inputPassengerModel.givenName" type="text"
            name="givenName" alphaNumericValidator required>
          <div class="alert alert-danger" *ngIf="givenName.hasError('invalidAlphaNumeric')">
            <li>
              <small>Only alphanumeric characters allowed.</small>
            </li>
          </div>
          <div class="alert alert-danger" *ngIf="givenName.hasError('required') && givenName.touched">
            <li>
              <small>This field is required.</small>
            </li>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Family Name</label>
        <div class="col my-auto">
          <input class="form-control form-control-sm" #familyName="ngModel" [(ngModel)]="inputPassengerModel.familyName" type="text"
            name="familyName" alphaNumericValidator required>
          <div class="alert alert-danger" *ngIf="familyName.hasError('invalidAlphaNumeric')">
            <li>
              <small>Only alphanumeric characters allowed.</small>
            </li>
          </div>
          <div class="alert alert-danger" *ngIf="familyName.hasError('required') && familyName.touched">
            <li>
              <small>This field is required.</small>
            </li>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Date of Birth</label>
        <div class="col my-auto">
          <app-date-picker (dateResult)="setDateOfBirth($event)" [dateInput]="getNgbDateFormat(inputPassengerModel.dateOfBirth)"></app-date-picker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Country of Birth</label>
        <div class="col my-auto">
          <div *ngIf="inputPassengerModel.countryOfBirth" class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img src="assets/images/flags/128x128/{{ inputPassengerModel.countryOfBirth.twoCharCode.toLowerCase() | lowercase}}.png"
                  height="20px">
              </span>
            </div>
            <input id="search-country" type="text" class="form-control" readonly="readonly" [(ngModel)]="inputPassengerModel.countryOfBirth.name"
              name="countryOfBirth" />
            <div>
              <div class="input-group-append">
                <button class="btn btn-sm btn-ssn" ngbTooltip="Remove country of birth" (click)="resetCountryOfBirth()">
                  <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
                </button>
              </div>
            </div>
          </div>
          <app-search-country *ngIf="!inputPassengerModel.countryOfBirth" (selectCountry)="setCountryOfBirth($event)" (deselectCountry)="resetCountryOfBirth()"></app-search-country>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Nationality</label>
        <div class="col my-auto">
          <div *ngIf="inputPassengerModel.nationality" class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img src="assets/images/flags/128x128/{{ inputPassengerModel.nationality.twoCharCode.toLowerCase() | lowercase}}.png" height="20px">
              </span>
            </div>
            <input id="search-country" type="text" class="form-control" readonly="readonly" [(ngModel)]="inputPassengerModel.nationality.name"
              name="nationailty" />
            <div>
              <div class="input-group-append">
                <button class="btn btn-sm btn-ssn" ngbTooltip="Remove nationality" (click)="resetNationality()">
                  <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
                </button>
              </div>
            </div>
          </div>
          <app-search-country *ngIf="!inputPassengerModel.nationality" (selectCountry)="setNationality($event)" (deselectCountry)="resetNationality()"></app-search-country>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Gender</label>
        <div class="col my-auto">
          <ng-select class="ng-select-placeholder-sm" [items]="genderList" [ngModel]="inputPassengerModel.gender" name="gender" bindLabel="description"
            [closeOnSelect]="true" placeholder="Gender" (change)="setGender($event)">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Transit</label>
        <div class="col my-auto">
          <ng-select class="ng-select-placeholder-sm" [items]="booleanList" [ngModel]="formBooleanModel[inputPassengerModel.inTransit]"
            name="transit" [closeOnSelect]="true" placeholder="Transit" (change)="setTransit($event)">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Port of Embarkation</label>
        <div class="col my-auto">
          <app-search-location *ngIf="!inputPassengerModel.portOfEmbarkation" [restrictTypeHarbour]=true (locationResult)="setPortOfEmbarkation($event)"
            id="search-port-of-embarkation"></app-search-location>

          <div class="input-group input-group-sm" *ngIf="inputPassengerModel.portOfEmbarkation">
            <div class="input-group-prepend" *ngIf="inputPassengerModel.portOfEmbarkation.country">
              <span class="input-group-text">
                <img src="assets/images/flags/128x128/{{ inputPassengerModel.portOfEmbarkation.country.twoCharCode.toLowerCase() | lowercase}}.png"
                  height="20px">
              </span>
            </div>
            <input readonly type="text" name="port-of-embarkation" id="app-find-port-of-embarkation" class="form-control" [(ngModel)]="inputPassengerModel.portOfEmbarkation.name">
            <div class="input-group-append">
              <button class="btn btn-sm btn-ssn" ngbTooltip="Remove port of embarkation" (click)="resetPortOfEmbarkation()">
                <img src="assets/images/icons/128x128/white/cancel.png" height="16px">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Port of Disembarkation</label>
        <div class="col my-auto">
          <app-search-location *ngIf="!inputPassengerModel.portOfDisembarkation" [restrictTypeHarbour]=true (locationResult)="setPortOfDisembarkation($event)"
            id="search-port-of-disembarkation"></app-search-location>
          <div class="input-group input-group-sm" *ngIf="inputPassengerModel.portOfDisembarkation">
            <div class="input-group-prepend " *ngIf="inputPassengerModel.portOfDisembarkation.country">
              <span class="input-group-text">
                <img src="assets/images/flags/128x128/{{ inputPassengerModel.portOfDisembarkation.country.twoCharCode.toLowerCase() | lowercase}}.png"
                  height="20px">
              </span>
            </div>
            <input readonly type="text" name="port-of-disembarkation" id="app-find-port-of-disembarkation" class="form-control" [(ngModel)]="inputPassengerModel.portOfDisembarkation.name">
            <div class="input-group-append">
              <button class="btn btn-sm btn-ssn" ngbTooltip="Remove port of disembarkation" (click)="resetPortOfDisembarkation()">
                <img src="assets/images/icons/128x128/white/cancel.png" height="16px">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="natureOfIdentityDoc" class="col col-form-label-sm no-wrap mb-0">Nature of Identity Document</label>
        <div class="col my-auto">
          <ng-select class="ng-select-placeholder-sm" [items]="identityDocumentTypes" [(ngModel)]="inputPassengerModel.identityDocument[0].identityDocumentType"
            name="natureOfIdentityDoc" [closeOnSelect]="true" bindLabel="description" placeholder="Nature of Identity Document"
            (change)="setIdentityDocumentType($event)">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Number of Identity Document</label>
        <div class="col my-auto">
          <input *ngIf="inputPassengerModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="inputPassengerModel.identityDocument[0].identityDocumentNumber"
            type="text" name="identityDocumentNumber">
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Issuing Nation</label>
        <div class="col my-auto">
          <div *ngIf="inputPassengerModel.identityDocument[0].issuingNation" class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img src="assets/images/flags/128x128/{{ inputPassengerModel.identityDocument[0].issuingNation.twoCharCode.toLowerCase() | lowercase}}.png"
                  height="20px">
              </span>
            </div>
            <input id="search-country" type="text" class="form-control" readonly="readonly" [(ngModel)]="inputPassengerModel.identityDocument[0].issuingNation.name"
              name="issuingNation" />
            <div>
              <div class="input-group-append">
                <button class="btn btn-sm btn-ssn" ngbTooltip="Remove isssuing nation" (click)="resetIssuingNation()">
                  <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
                </button>
              </div>
            </div>
          </div>
          <app-search-country *ngIf="!inputPassengerModel.identityDocument[0].issuingNation" (selectCountry)="setIssuingNation($event)"
            (deselectCountry)="resetIssuingNation()"></app-search-country>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Identity Document Issue Date</label>
        <div class="col my-auto">
          <app-date-picker (dateResult)="setIdentityDocumentIssueDate($event)" [dateInput]="getNgbDateFormat(inputPassengerModel.identityDocument[0].identityDocumentIssueDate)"></app-date-picker>
          <div *ngIf="issueDateAfterExpiryDateError" class="alert alert-danger form-control-sm" role="alert">
            <span>Identity document issue date must be before the expiry date.</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Identity Document Expiry Date</label>
        <div class="col my-auto">
          <app-date-picker (dateResult)="setIdentityDocumentExpiryDate($event)" [dateInput]="getNgbDateFormat(inputPassengerModel.identityDocument[0].identityDocumentExpiryDate)"></app-date-picker>
          <div *ngIf="expiryDateBeforeExpiryDateError" class="alert alert-danger form-control-sm" role="alert">
            <span>Identity document expiry date must be after the issue date.</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label-sm no-wrap mb-0">Visa or Residence Permit Number</label>
        <div class="col my-auto">
          <input *ngIf="inputPassengerModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="inputPassengerModel.identityDocument[0].visaOrResidencePermitNumber"
            type="text" name="visaOrResidencePermitNumber">
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button *ngIf="editForm.valid && validDocumentDates && (editForm.form.dirty || dirtyForm === true)" type="button" class="btn btn-ssn"
        (click)="editPassenger(); resetForm(); close">
        <img src="assets/images/icons/128x128/white/edit.png" height="24px">
        <span>Edit Entry</span>
      </button>
      <button *ngIf="!editForm.valid || !validDocumentDates || !(editForm.form.dirty || dirtyForm === true)" type="button" class="btn btn-ssn"
        disabled>
        <img src="assets/images/icons/128x128/white/edit.png" height="24px">
        <span>Edit Entry</span>
      </button>
      <button type="button" class="btn btn-ssn" (click)="resetInputPassengerModel($event); close">
        <span>Cancel</span>
      </button>
    </div>
  </form>
</ng-template>