<div class="card card-ssn text-center">
  <div class="card-header bg-ssn text-ssn">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/VoyageIcons/128x128/white/time.png" height="32px" />
      </div>
      <div class="col-8">
        <h4>
          <span class="no-wrap">Select Arrival and</span>
          <span class="no-wrap">Departure Time</span>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label for="eta_date_input">ETA</label>
          <div class="input-group">
            <input id="eta_date_input" class="form-control form-control-sm" placeholder="yyyy-MM-dd" name="dp-eta" [showWeekNumbers]="true"
              [(ngModel)]="etaDateModel" ngbDatepicker #eta="ngbDatepicker" (ngModelChange)="etaDateChanged($event)">
            <div class="input-group-append">
              <button class="btn btn-sm btn-ssn" (click)="eta.toggle()" type="button">
                <img src="assets/images/VoyageIcons/128x128/white/calendar.png" height="24px" />
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!validEtaDateFormat" class="alert alert-danger" role="alert">
          <strong>Invalid date format!</strong> Format must be yyyy-MM-dd
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="etd_date_input">ETD</label>
          <div class="input-group">
            <input id="etd_date_input" class="form-control form-control-sm" placeholder="yyyy-MM-dd" name="dp-etd" [showWeekNumbers]="true"
              [(ngModel)]="etdDateModel" ngbDatepicker #etd="ngbDatepicker" (ngModelChange)="etdDateChanged($event)">
            <div class="input-group-append">
              <button class="btn btn-sm btn-ssn" (click)="etd.toggle()" type="button">
                <img src="assets/images/VoyageIcons/128x128/white/calendar.png" height="24px" />
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!validEtdDateFormat" class="alert alert-danger" role="alert">
          <strong>Invalid date format!</strong> Format must be yyyy-MM-dd
        </div>
      </div>

    </div>

    <div class="row" *ngIf="dateSequenceError">
      <div class="col-2"></div>
      <div class="col-8 alert alert-danger" role="alert">
        <strong>Departure date can not be before arrival date!</strong>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ngb-timepicker [(ngModel)]="etaTimeModel" (ngModelChange)="etaTimeChanged($event)"></ngb-timepicker>
      </div>
      <div class="col">
        <ngb-timepicker [(ngModel)]="etdTimeModel" (ngModelChange)="etdTimeChanged($event)"></ngb-timepicker>
      </div>
    </div>

    <div class="row" *ngIf="timeSequenceError">
      <div class="col-2"></div>
      <div class="col-8 alert alert-danger" role="alert">
        <strong>Departure time must be after arrival time!</strong>
      </div>
    </div>


  </div>
</div>