<div class="card card-ssn text-center">
  <div class="card-header bg-ssn text-ssn">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/VoyageIcons/128x128/white/crew.png" height="32px" />
      </div>
      <div class="col-8">
        <h4><span class="no-wrap">Crew, Passengers</span> <span class="no-wrap">and Dimensions</span></h4>
      </div>
    </div>
  </div>
  <div class="card-body text-left">
    <form>
      <div class="row">

        <div class="col-lg-6">
          <div class="form-group row">
            <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="number_of_crew">Number of Crew</label>
            <div class="col my-auto">
              <input name="number_of_crew" type="number" class="form-control form-control-sm" id="number_of_crew" placeholder="Enter number of crew"
                (ngModelChange)="numberOfCrewChanged($event)" [(ngModel)]="crewPassengersAndDimensionsModel.numberOfCrew" />
            </div>
          </div>
          <div *ngIf="numberOfCrewError" class="alert alert-danger" role="alert">
            <strong>{{ numberOfCrewError }}</strong>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group row">
            <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="number_of_passengers">Number of Passengers</label>
            <div class="col my-auto">
              <input name="number_of_passengers" type="number" class="form-control form-control-sm" id="number_of_passengers" placeholder="Enter number of passengers"
                (ngModelChange)="numberOfPassengersChanged($event)" [(ngModel)]="crewPassengersAndDimensionsModel.numberOfPassengers"
              />
            </div>
          </div>
          <div *ngIf="numberOfPassengersError" class="alert alert-danger" role="alert">
            <strong>{{ numberOfPassengersError }}</strong>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-lg-6">
          <div class="form-group row">
            <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="actual_draught">Actual Draught</label>
            <div class="col my-auto">
              <input name="actual_draught" type="number" class="form-control form-control-sm" id="actual_draught" placeholder="Enter actual draught"
                (ngModelChange)="actualDraughtChanged($event)" [(ngModel)]="crewPassengersAndDimensionsModel.actualDraught"
              />
            </div>
          </div>
          <div *ngIf="actualDraughtError" class="alert alert-danger" role="alert">
            <strong>{{ actualDraughtError }}</strong>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group row">
            <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="air_draught">Air Draught</label>
            <div class="col my-auto">
              <input name="air_draught" type="number" class="form-control form-control-sm" id="air_draught" placeholder="Enter air draught"
                (ngModelChange)="airDraughtChanged($event)" [(ngModel)]="crewPassengersAndDimensionsModel.airDraught" />
            </div>
          </div>
          <div *ngIf="airDraughtError" class="alert alert-danger" role="alert">
            <strong>{{ airDraughtError }}</strong>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>