<div class="row">
  <div class="col-sm col-md-6 col-lg-4">
    <ssn-card header='Register New Ship' icon='ship.png'>
      <div class="text-center">
        <button class="btn btn-ssn" (click)="registerNewShip()">Register New Ship</button>
      </div>
    </ssn-card>
  </div>
</div>

<ssn-card header="Ship Search" icon="ship.png">
  <div *ngIf="!shipFound">
    <app-search-ship></app-search-ship>
  </div>

  <div *ngIf="shipFound" class="text-center">
    <button class="btn btn-ssn" (click)="deselectShip()">
      <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
  </div>

  <br>

  <div class="jumbotron bg-ssn-light" *ngIf="shipFound">
    <div class="row mb-3">
      <div class="col">
        <app-ship-info-table></app-ship-info-table>
      </div>
    </div>
  </div>
</ssn-card>