<div class="row">
  <div class="col-sm col-md-6 col-lg-4">
    <app-ssn-card header="Register New Ship" icon="ship.png">
      <div class="text-center">
        <button class="btn btn-ssn" (click)="registerNewShip()">Register New Ship</button>
      </div>
    </app-ssn-card>
  </div>
</div>

<app-ssn-card header="Ship Search" icon="ship.png">
  <app-search-ship [showDropdown]=false (shipSearchResult)="onShipSearchResult($event)"></app-search-ship>
  <br>
  <div>
    <app-ship-smart-table></app-ship-smart-table>
  </div>
</app-ssn-card>