<div class="row">
  <div class="col-sm col-md-6 col-lg-4">
    <ssn-card header='Register New Ship' icon='ship.png'>
      <div class="text-center">
        <button class="btn btn-ssn" (click)="registerNewShip()">Register New Ship</button>
      </div>
    </ssn-card>
  </div>
</div>

<ssn-card header="Ship Search" icon="ship.png">
  <div *ngIf="!shipFound">
    <app-search-ship></app-search-ship>
  </div>

  <div *ngIf="shipFound" class="text-center">
    <button class="btn btn-ssn" (click)="deselectShip()">
      <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
  </div>

  <br>

  <div class="jumbotron bg-ssn-light" *ngIf="shipFound">
    <div class="row mb-3">
      <div class="col">
        <table-card header="Ship Information" icon="ship.png">
          <tbody>
            <tr>
              <td>
                <img *ngIf="shipFlag" src="assets/images/Flags/128x128/{{shipFlag | lowercase}}.png" class="my-2" height="32px">
              </td>
              <td *ngFor="let entry of shipInfo" class="no-wrap px-1 mx-1">
                <tr>
                  <small>{{ entry.description }}:</small>
                </tr>
                <tr *ngIf="entry.data">{{ entry.data }}</tr>
                <tr *ngIf="!entry.data">
                  <div class="font-italic">Not provided.</div>
                </tr>
              </td>
            </tr>
          </tbody>
        </table-card>
        <table-card header="Ship Contact Information" icon="contact.png" collapsible=true>
          <tbody *ngIf="shipHasContactInfo">
            <tr>
              <td *ngFor="let entry of shipContactInfo" class="no-wrap px-1 mx-1">
                <tr>
                  <small>{{ entry.description }}
                    <span *ngIf="entry.isPreferred"> (preferred)</span>
                  </small>
                </tr>
                <tr>{{ entry.data }}</tr>
              </td>
            </tr>
          </tbody>
          <tbody class="text-center" *ngIf="!shipHasContactInfo">
            <div class="my-3">
              <img src="assets/images/VoyageIcons/128x128/white/warning.png" height="24px">
              <span>No contact information for this ship has been provided.</span>
            </div>
          </tbody>
        </table-card>
      </div>
    </div>
  </div>
</ssn-card>