<div class="card-body">
    <ng-template #rt let-r="result" let-t="term">
        <strong *ngIf="r.name">Name: </strong> {{ r.name }}
        <strong *ngIf="r.orgNo">Code: </strong> {{ r.orgNo }}
    </ng-template>

    <div *ngIf="!companySelected">
        <label for="search-company">Search using company name or organisation number</label>
        <input id="search-company" type="text" class="form-control mx-auto" [(ngModel)]="companyModel" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter" (selectItem)="selectCompany($event)" placeholder="Enter search here..."/>
    </div>

    <div *ngIf="companySelected">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-ssn text-ssn">
                        <th>Company Name</th>
                        <th>Company Organisation Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ companyModel.name }}</td>
                        <td>{{ companyModel.orgNo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-ssn" (click)="deselectCompany()">
            <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
    </div>
</div>