<div class="container pt-5">
  <app-ssn-bg header="{{ purpose + ' password' | uppercase }}" icon="user.png">
    <app-ssn-card header="Password {{purpose | lowercase}} form">

      <div *ngIf="isChangeComponent" class="form-group row">
        <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="current_password">Current password</label>
        <div class="col">
          <input id="current_password" name="current_password" class="form-control form-control-sm" type="password" placeholder="Enter your current password"
            [(ngModel)]="currentPassword">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="first_password">New password</label>
        <div class="col">
          <input id="first_password" name="first_password" class="form-control form-control-sm" type="password" placeholder="Enter a new password"
            [(ngModel)]="inputOne" (blur)="checkPasswords()">
        </div>
      </div>

      <div class="form-group row mb-0">
        <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="second_password">Retype password</label>
        <div class="col">
          <input id="second_password" name="second_password" class="form-control form-control-sm" type="password" placeholder="Retype the password"
            [(ngModel)]="inputTwo" (blur)="checkPasswords()">
        </div>
      </div>

      <div *ngIf="fieldsFilled" class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        </div>
        <div class="col" *ngIf="!passwordMatch">
          <img height="16px" src="assets/images/icons/128x128/red/warning.png">
          <small class="text-danger">Passwords does not match</small>
        </div>
        <div class="col" *ngIf="passwordMatch">
            <img height="16px" src="assets/images/icons/128x128/green/checkmark.png">
            <small class="text-success">Passwords match</small>
          </div>
      </div>

      <div *ngIf="!passwordMatch">
        <div class="row">
          <div class="col">
            <button class="btn btn-ssn" disabled>{{purpose}} password</button>
          </div>
        </div>
      </div>

      <!-- Passwords typed in and passords match -->
      <div *ngIf="passwordMatch">
        <div class="row">
          <div class="col">
            <button class="btn btn-ssn" (click)="editPassword()">{{purpose}} password</button>
          </div>
        </div>
      </div>
    </app-ssn-card>
  </app-ssn-bg>
</div>