<app-ssn-card [header]="'Select Ship'" [icon]="'ship.png'">
  <div *ngIf="!shipFound">
    <app-search-ship (shipResult)="onShipResult($event)"></app-search-ship>
  </div>

  <div *ngIf="shipFound" class="text-center">
    <div class="table-responsive">
      <app-ssn-table [entryData]=shipProperties></app-ssn-table>
    </div>
    <button class="btn btn-ssn" (click)="deselectShip()">
      <img src="assets/images/icons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
  </div>
</app-ssn-card>

<app-ssn-card [header]="'Select Port of Call'" [icon]="'location.png'">
  <div class="row">
    <div class="col">
      <div *ngIf="!locationFound" class="text-center">
        <app-search-location [restrictTypeHarbour]=true [showDropdown]=true (locationResult)="onLocationResult($event)"></app-search-location>
      </div>

      <div *ngIf="locationFound" class="text-center">
        <div class="table-responsive">
          <app-ssn-table [entryData]="locationProperties"></app-ssn-table>
        </div>
        <button class="btn btn-ssn" (click)="deselectLocation()">
          <img src="assets/images/icons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-date-time-picker [header]="'ETA'" [dateTimeInput]="etaModel" (dateTimeResult)="onEtaResult($event)"></app-date-time-picker>
    </div>
    <div class="col-md-6">
      <app-date-time-picker [header]="'ETD'" [dateTimeInput]="etdModel" (dateTimeResult)="onEtdResult($event)"></app-date-time-picker>
    </div>
  </div>
  <div class="row" *ngIf="dateSequenceError">
    <div class="col-2"></div>
    <div class="col-8 alert alert-danger" role="alert">
      <span>Departure date can not be before arrival date.</span>
    </div>
  </div>
  <div class="row" *ngIf="timeSequenceError">
    <div class="col-2"></div>
    <div class="col-8 alert alert-danger" role="alert">
      <span>Departure time must be after arrival time.</span>
    </div>
  </div>
</app-ssn-card>

<app-prev-and-next-poc [portCallId]="portCallId" [currentEtaModel]="etaModel" [currentEtdModel]="etdModel"></app-prev-and-next-poc>

<app-ssn-card [header]="'Create Port Call Draft'" [icon]="'save.png'" *ngIf="portCallId == null">
  <app-save-new-port-call></app-save-new-port-call>
</app-ssn-card>

<app-ssn-card [header]="'Save Voyages'" [icon]="'save.png'" *ngIf="portCallId != null">
  <app-save-voyages></app-save-voyages>
</app-ssn-card>