<ng-template #rt let-r="result" let-t="term">
  <img src="assets/images/flags/128x128/{{r.country.twoCharCode.toLowerCase()}}.png" height="16px" />
  <strong *ngIf="r.name">Name: </strong> {{ r.name }}
  <strong *ngIf="r.locationCode">Code: </strong> {{ r.locationCode }}
</ng-template>

<div class="input-group">
  <div class="input-group-prepend">
    <button disabled class="btn btn-sm btn-ssn">
      <img src="assets/images/icons/128x128/white/search.png" height="20px">
    </button>
  </div>
  <input id="search-location" type="text" class="form-control form-control-sm mx-auto" [(ngModel)]="locationModel"
    [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectLocation($event)" placeholder="Enter search here..."
    (focus)="onFocus($event)" />

  <div *ngIf="searching" class="input-group-append">
    <img class="mx-auto" src="assets/images/animations/location.gif" height="32px">
    <p>Searching</p>
  </div>
  <div *ngIf="searchFailed" class="input-group-append">
    <img class="mx-auto" src="assets/images/icons/128x128/cancel.png" height="32px">
    <p>No results</p>
  </div>
</div>