<ssn-card title="Port Call Details" icon="verification-clipboard.png">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-ssn text-ssn">
          <th *ngFor="let entry of portCallDetailsInfo" class="no-wrap">{{ entry.description }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let entry of portCallDetailsInfo">{{ entry.data }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-selected-purposes></app-selected-purposes>
</ssn-card>