<div class="container pt-5">
  <app-ssn-bg header="RESET PASSWORD" icon="user.png">
    <app-ssn-card header="Password reset form">

      <div class="row">
        <div class="col">
          <div class="form-group row">
            <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="first_password">New password</label>
            <div class="col">
              <input id="first_password" name="first_password" class="form-control form-control-sm" type="password"
              placeholder="Enter a new password" 
              [(ngModel)]="inputOne"  (blur)="checkPasswords()">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group row">
            <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="second_password">Retype password</label>
            <div class="col">
              <input id="second_password" name="second_password" class="form-control form-control-sm" type="password"
               placeholder="Retype the password"
               [(ngModel)]="inputTwo" (blur)="checkPasswords()">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!passwordMatch" class="row">
        <div *ngIf="fieldsFilled" class="col no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img height="16px" src="assets/images/Validation/32x32/icon-alert-warning.png">
          <small class="text-danger">Passwords does not match</small>
        </div>
        <div class="col">
          <button class="btn btn-ssn" disabled>Reset password</button>
        </div>
      </div>

      <!-- Passwords typed in and passords match -->
      <div class="row" *ngIf="passwordMatch">
        <div class="col no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img height="16px" src="assets/images/Validation/32x32/icon-valid-ok.png">
          <small class="text-success">Passwords match</small>
        </div>
        <div class="col">
          <button class="btn btn-ssn" (click)="resetPassword()">Reset password</button>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col">
          <small>{{inputOne}}</small>
        </div>
        <div class="col">
          <small>{{inputTwo}}</small>
        </div>
      </div> -->
    </app-ssn-card>
  </app-ssn-bg>
</div>