<ssn-card title="Port Call Purpose" icon="target.png">
  <!-- <label>Select purposes</label> -->
  <!-- <span class="no-wrap">Select purposes for this</span>
    <span class="no-wrap">port call.</span>
  </label> -->
  <!-- <select [(ngModel)]="selectedPurposes" (change)="purposeSelected()" class="custom-select" multiple size="8" id="purposes">
    <option *ngFor="let purpose of purposeList" value="{{purpose}}">{{ purpose.name }}</option>
  </select> -->
  <label class="custom-control-label" for="purposes">
    <span class="no-wrap">Select purposes for this</span>
    <span class="no-wrap">port call.</span>
  </label>
  <ng-select id="purposes" [items]="purposeList" [multiple]="true" [closeOnSelect]="true" bindLabel="name" placeholder="Select purposes"
    [(ngModel)]="selectedPurposes" (change)="purposeSelected()">
  </ng-select>

  <div *ngIf="otherPurposeSelected" class="form-group row">
    <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="other_purpose">Specify Other Purpose:</label>
    <div class="col my-auto">
      <input [(ngModel)]="otherPurposeName" name="other_purpose" type="text" class="form-control form-control-sm" id="other_purpose"
        placeholder="Enter other purpose" (ngModelChange)="setOtherPurposeName()" />
    </div>
  </div>

  <div class="mt-3 bg-ssn-light">
    <table-card title="Selected Purposes" icon="target.png" collapsible=true>
      <tbody class="border-top-0">
        <tr>
          <td *ngFor="let purpose of selectedPurposes; let isFirst=first" [ngClass]="{'border-left': !isFirst}"> {{ purpose.name }} </td>
        </tr>
      </tbody>
    </table-card>
  </div>
</ssn-card>