<ng-template #rt let-r="result" let-t="term">
  <img src="assets/images/Flags/128x128/{{r.shipFlagCode.country.twoCharCode.toLowerCase()}}.png" height="16px" />
  <strong *ngIf="r.name">Name: </strong> {{ r.name }}
  <strong *ngIf="r.callSign"> Call sign: </strong> {{ r.callSign }}
  <strong *ngIf="r.imoNo"> IMO number: </strong> {{ r.imoNo }}
  <strong *ngIf="r.mmsiNo"> MMSI number: </strong> {{ r.mmsiNo }}
</ng-template>

<div class="text-center">
  <label for="search-ship">Search using ship name, call sign, IMO number or MMSI number</label>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div *ngIf="showDropdown">
        <input id="search-ship" type="text" class="form-control form-control-sm mx-auto" [(ngModel)]="shipModel" [ngbTypeahead]="search"
          [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectShip($event)" placeholder="Enter search here..."
        />
      </div>
      <div *ngIf="!showDropdown">
        <input id="search-ship-no-dropdown" type="text" class="form-control form-control-sm mx-auto" [(ngModel)]="shipModel" [ngbTypeahead]="search"
          placeholder="Enter search here..." />
      </div>
    </div>
    <div class="col-2">
      <div *ngIf="searching">
        <img class="mx-auto" src="assets/images/animations/ship.gif" height="32px">
        <p>Searching</p>
      </div>
      <div *ngIf="searchFailed">
        <img class="mx-auto" src="assets/images/VoyageIcons/128x128/cancel.png" height="32px">
        <p>No results</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="shipSelected" class="text-center">
  <img class="mx-auto" src="assets/images/animations/ship.gif" height="32px">
  <p>Loading ship...</p>
</div>