<div class="jumbotron bg-ssn-light">
  <div class="row">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/portcall.png" height="64px">
    </div>
    <div class="col-10">
      <h3 class="text-ssn display-4">REGISTRER PORT CALL</h3>
    </div>
  </div>
  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-lg">
      <app-find-ship></app-find-ship>
    </div>

  </div>
  <div class="row" *ngIf="shipFound">
    <div class="col-lg">
      <app-find-location></app-find-location>
    </div>
  </div>

  <div class="row" *ngIf="locationFound">
    <div class="col-lg">
      <app-eta-etd></app-eta-etd>
    </div>
  </div>



</div>