<app-ssn-bg header="VIEW PORT CALL" icon="eye.png">

  <div class="row mb-3">
    <div class="col">
      <app-ship-info-table></app-ship-info-table>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <app-location-time-info-table></app-location-time-info-table>
    </div>
  </div>

  <app-confirmation-view></app-confirmation-view>

  <div class="row text-center">
    <div class="col">
      <button class="btn btn-outline-light" (click)="goBack()" (mouseover)="backButtonIcon='left-arrow'" (mouseout)="backButtonIcon='white/left-arrow'">
        <img src="assets/images/icons/128x128/{{backButtonIcon}}.png" height="32px">
        <span class="no-wrap"> GO BACK</span>
      </button>
    </div>
  </div>
</app-ssn-bg>