<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <img src="assets/images/VoyageIcons/128x128/white/ship.png" height="24px">
        </td>
        <td *ngFor="let entry of portCallShipInfo" class="px-1 mx-1">
          <tr>
            <small>{{ entry.description }}</small>
          </tr>
          <tr>{{ entry.data }}</tr>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/VoyageIcons/128x128/white/location.png" height="24px">
        </td>
        <td *ngFor="let entry of portCallLocationInfo" class="px-1 mx-1">
          <tr>
            <small>{{ entry.description }}</small>
          </tr>
          <tr>{{ entry.data }}</tr>
        </td>
      </tr>
    </tbody>
  </table>
</div>