<div class="border border-white table-card-header-bg p-1">
  <div class="row text-center text-white px-4">
    <div class="d-table-cell mr-auto">
      <img *ngIf="icon" src="{{iconPath}}{{icon}}" height="24px" />
    </div>
    <div class="d-table-cell mx-auto">
      <span>{{ title }}</span>
    </div>
    <div class="d-table-cell ml-auto">
      <button *ngIf="collapsible" class="btn btn-sm btn-outline-light" (click)="changeState()">
        <img src="{{iconPath}}{{collapsedIcon}}" height="16px" class="clickable">
      </button>
    </div>
  </div>
</div>
<div *ngIf="!collapsed" class="table-responsive border-bottom border-left border-right border-white text-white">
  <table class="table">
    <ng-content></ng-content>
  </table>
</div>