<div class="border border-white table-card-header-bg p-1">
  <div class="row text-center text-white px-4" [ngClass]="{clickable: collapsible}" (click)="collapsible ? changeState() : null">
    <div class="d-table-cell mr-auto">
      <img *ngIf="icon" src="{{iconPath}}{{icon}}" height="24px" />
    </div>
    <div class="d-table-cell m-auto">
      <span>{{ header }}</span>
    </div>
    <div class="d-table-cell ml-auto">
      <button *ngIf="collapsible" class="btn btn-sm btn-outline-light" (mouseover)="collapsedIconColor=''" (mouseout)="collapsedIconColor='white/'">
        <img src="{{collapsedIconPath}}{{collapsedIconColor}}{{collapsedIcon}}" height="16px">
      </button>
    </div>
  </div>
</div>
<div *ngIf="!collapsed" class="table-responsive border-bottom border-left border-right border-white text-white">
  <table class="table mb-0">
    <ng-content></ng-content>
  </table>
</div>