<div class="row">
  <div class="col-sm col-md-6 col-lg-4">
    <app-ssn-card header='Register New Location' icon='location.png'>
      <div class="text-center">
        <button class="btn btn-ssn" (click)="registerNewLocation()">Register New Location</button>
      </div>
    </app-ssn-card>
  </div>
</div>

<app-ssn-card header="Location Search" icon="pax.png">
  <div *ngIf="!locationFound">
    <app-search-location [showDropdown]=false></app-search-location>
  </div>

  <br>

  <div>
    <app-location-smart-table></app-location-smart-table>
  </div>
</app-ssn-card>