<div class="row">
  <div class="col-sm col-md-6 col-lg-4">
    <app-ssn-card header='Register New Location' icon='location.png'>
      <div class="text-center">
        <button class="btn btn-ssn" (click)="registerNewLocation()">Register New Location</button>
      </div>
    </app-ssn-card>
  </div>
</div>

<app-ssn-card header="Location Search" icon="pax.png">
  <div class="text-center">
    <label for="search-location">Search using location name or UN/LOCODE code</label>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <app-search-location [showDropdown]=false (locationSearchResult)="onLocationSearchResult($event)"></app-search-location>
      </div>
    </div>
  </div>
  <br>
  <div>
    <div class="mb-3">
      <table class="table table-bordered text-center mx-auto mb-0">
        <thead class="bg-ssn text-white">
          <tr>
            <th class="py-1">
              <h5 class="mb-0">Location search results</h5>
            </th>
          </tr>
        </thead>
      </table>
      <div class="table-responsive">
        <ng2-smart-table [settings]="tableSettings" [source]="dataSource"></ng2-smart-table>
      </div>
    </div>
  </div>
</app-ssn-card>