<app-search-passenger-port *ngIf="!embarkationFound" (selectPort)="setPort($event)" [component]="'embarkation'" [label]="label">
</app-search-passenger-port>

<div *ngIf="embarkationFound" class="input-group">
  <div class="input-group-prepend flag">
    <img src="assets/images/Flags/128x128/{{embarkationFlag | lowercase}}.png" height="30px">
  </div>
    <input id="search-location" type="text" class="form-control form-control-sm" readonly="readonly" [(ngModel)]="embarkationModel.name"
    />
  <div>
    <button class="btn btn-sm btn-ssn" ngbTooltip="Remove port" (click)="deselectPort()">
      <img height="20px" src="assets/images/VoyageIcons/128x128/white/cancel.png">
    </button>
  </div>
</div>