<app-ssn-card header="Add New Crew Member" icon="crew.png">

  <form name="crewForm" #form="ngForm">

    <div class="col-lg-12">
      <app-ssn-card header="Upload Crew Data from Excel Template" icon="upload.png" [collapsible]="true">
        <app-file-upload [portCallId]="portCallId" [isPaxPage]="false" (saved)="excelFileSaved($event)"
          (entriesHasErrors)="uploadError($event)" (importSuccess)="importSuccess($event)"></app-file-upload>
      </app-ssn-card>
      <app-ssn-card header="Personalia" icon="user.png" [collapsible]="true">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col my-auto">
                <label for="givenName" class="col-form-label-sm no-wrap mb-0">Given Name *</label>
                <input #givenName="ngModel" type="text" [(ngModel)]="portCallCrewModel.givenName" placeholder="Given Name"
                  class="form-control form-control-sm" name="givenName" required>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="givenName.hasError('required') && givenName.touched">
              <li>
                <small>This field is required.</small>
              </li>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="familyName" class="col-form-label-sm no-wrap mb-0">Family Name *</label>
                <input #familyName="ngModel" type="text" [(ngModel)]="portCallCrewModel.familyName" placeholder="Family Name"
                  class="form-control form-control-sm" required name="familyName">
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="familyName.hasError('required') && familyName.touched">
              <li>
                <small>This field is required.</small>
              </li>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="app-date-of-birth" class="col-form-label-sm no-wrap mb-0">Date of Birth</label>
                <app-date-picker (dateResult)="setDateOfBirth($event)" [dateInput]="getNgbDateFormat(portCallCrewModel.dateOfBirth)"
                  #dateOfBirth></app-date-picker>
              </div>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="rankName" class="col-form-label-sm no-wrap mb-0">Crew member rank/rating</label>
                <input #rankName="ngModel" type="text" [(ngModel)]="portCallCrewModel.rankName" placeholder="Crew member rank/rating"
                  class="form-control form-control-sm" name="rankName">
              </div>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="rankCode" class="col-form-label-sm no-wrap mb-0">Crew member rank/rating code</label>
                <input #rankCode="ngModel" type="text" [(ngModel)]="portCallCrewModel.rankCode" placeholder="Crew member rank/rating code"
                  class="form-control form-control-sm" name="rankCode">
              </div>
            </div>

          </div>
          <!-- /.col-lg-6 -->

          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col my-auto">
                <label for="app-search-country" class="col-form-label-sm no-wrap mb-0">Country of Birth</label>
                <app-search-country *ngIf="!portCallCrewModel.countryOfBirth" (selectCountry)="setCountryOfBirth($event)"
                  (deselectCountry)="resetCountryOfBirth()"></app-search-country>
                <div *ngIf="portCallCrewModel.countryOfBirth" class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="assets/images/flags/128x128/{{ portCallCrewModel.countryOfBirth.twoCharCode | lowercase}}.png"
                        height="20px">
                    </span>
                  </div>
                  <input id="search-country" type="text" class="form-control" readonly="readonly" [ngModel]="portCallCrewModel.countryOfBirth.name"
                    name="countryOfBirth" />
                  <div>
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-ssn" ngbTooltip="Remove country of birth" (click)="resetCountryOfBirth()">
                        <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="app-search-country" class="col-form-label-sm no-wrap mb-0">Nationality</label>
                <app-search-country *ngIf="!portCallCrewModel.nationality" (selectCountry)="setNationality($event)"
                  (deselectCountry)="resetNationality()"></app-search-country>
                <div *ngIf="portCallCrewModel.nationality" class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="assets/images/flags/128x128/{{ portCallCrewModel.nationality.twoCharCode | lowercase}}.png"
                        height="20px">
                    </span>
                  </div>
                  <input id="search-country" type="text" class="form-control" readonly="readonly" [ngModel]="portCallCrewModel.nationality.name"
                    name="nationality" />
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-ssn" ngbTooltip="Remove nationality" (click)="resetNationality()">
                      <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="placeOfBirth" class="col-form-label-sm no-wrap mb-0">Place of Birth</label>
                <input #placeOfBirth="ngModel" type="text" [(ngModel)]="portCallCrewModel.placeOfBirth" placeholder="Place of Birth"
                  class="form-control form-control-sm" name="placeOfBirth">
              </div>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="gender" class="col-form-label-sm no-wrap mb-0">Gender</label>
                <ng-select class="ng-select-placeholder-sm" [items]="genderList" [(ngModel)]="portCallCrewModel.gender"
                  name="gender" [closeOnSelect]="true" bindLabel="description" placeholder="Gender" (change)="setGender($event)">
                </ng-select>
              </div>
            </div>

          </div>
          <!-- /.col-lg-6 -->
        </div>
      </app-ssn-card>

      <app-identity-document (changeIdentityDocumentModel)="setIdentityDocumentModel($event)"
        [showVisaOrResidenceNumber]="false"></app-identity-document>

    </div>
  </form>

  <div class="col-lg-12">
    <div class="form-group">
      <button *ngIf="form.valid && validDocumentDates" type="submit" class="btn btn-ssn mt-2" (click)="addCrewMember(); form.reset()">
        <span>Submit</span>
      </button>
      <button *ngIf="!form.valid || !validDocumentDates" type="submit" disabled class="btn btn-ssn mt-2">
        <span>Submit</span>
      </button>
      <button *ngIf="crewList?.length > 0" type="submit" class="btn mt-2 btn-danger float-right" (click)=openWarningModal(warningModal)>
        <span>Delete all crew members</span>
      </button>
      <button *ngIf="crewList?.length === 0" type="submit" class="btn mt-2 btn-danger float-right" disabled>
        <span>Delete all crew members</span>
      </button>
    </div>


    <div class="mb-3">
      <div class="table-responsive">
        <div ng2-st-add-button="" ng-reflect-grid="[object Object]" class="ng2-smart-actions-title ng2-smart-actions-title-add">
        </div>
        <ng2-smart-table [settings]="tableSettings" [source]="crewListDataSource">
        </ng2-smart-table>

      </div>
    </div>
  </div>

</app-ssn-card>
<app-save-crew-list (save)="saveCrewList()" [listIsPristine]="listIsPristine"></app-save-crew-list>

<app-crew-member-modal (outputCrewModel)="editCrewMember($event)"></app-crew-member-modal>
<app-crew-list-error-modal (rectifiedCrewEmitter)="addRectifiedCrewAndPax($event)"></app-crew-list-error-modal>
<!--  (outputPassengerModel)="editPassenger($event)" -->

<ng-template #warningModal let-close="close()" class="modal fade">
  <div class="modal-header">
    <h4 class="modal-title">Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Do you want to delete all crew members in the list?
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn mt-2 btn-danger float-right" (click)="deleteAllCrewMembers(); close">
      <span>Delete all crew members</span>
    </button>
    <button type="button" class="btn mt-2 btn-ssn" (click)="close">
      <span>Cancel</span>
    </button>
  </div>
</ng-template>