/* Smart table */
:root {
    --color-primary: #002d50;
    --color-primary-light: #37557c;
    --color-primary-dark: #000128;
    --color-primary-text: #ffffff;
  }
  
  :host ::ng-deep ng2-smart-table thead {
    background-color: var(--color-primary);
    color: white;
  }
  
  :host ::ng-deep .ng2-smart-filter input {
    color: black;
  }
  
  :host ::ng-deep a.ng2-smart-sort-link.sort::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 4px solid white;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: rotate(90deg);
  }
  
  :host ::ng-deep a.ng2-smart-sort-link.sort.asc::after {
    border-bottom: 4px solid white;
    transform: rotate(0deg);
    margin-bottom: 2px;
  }
  
  :host ::ng-deep a.ng2-smart-sort-link.sort.desc::after {
    border-bottom: 4px solid white;
    transform: rotate(180deg);
    margin-bottom: -2px;
  }
  
  :host ::ng-deep ng2-smart-table a {
    color: var(--color-primary-text);
  }
  
  :host ::ng-deep a.ng2-smart-page-link.page-link {
    color: var(--color-primary-dark);
    border-color: #dee2e6;
  }
  
  :host ::ng-deep span.ng2-smart-page-link.page-link {
    color: var(--color-primary-dark);
    background-color: #dee2e6;
    border-color: #dee2e6;
  }
  
  :host ::ng-deep tbody > tr > td.ng2-smart-actions > a {
    color: var(--color-primary-dark);
  }
  
  :host ::ng-deep ng2-st-tbody-edit-delete > a,
  :host ::ng-deep ng2-st-tbody-create-cancel > a {
    color: var(--color-primary);
  }
  
  .ng-select-placeholder-sm, ::placeholder {
    font-size: 0.875rem;
    height: 31px;
  }
  
  :host ::ng-deep .ng-placeholder, ::placeholder  {
      color: gray !important;
      font-style: italic;
  }
  
  :host ::ng-deep .ng-input {
    height: 21px;
  }
  
  :host ::ng-deep .ng-select .ng-select-container{
    min-height: 31px;
    height: 31px;
    border-radius: .2rem;
    border-color: #ced4da;
  } 
  .p-1 input {
    width: 100%;
    border:none;
  }
  .total-col {
    width: 15%;
  }
  .total-desc {
    width: 85%;
  }

  .add-effect-btn {
    display: inline-block;
    float: right;
    font-size: .9em;
  }
  