<app-ssn-card [header]="'Ship To Ship Activities'">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center mb-1">
        <span>Select a port by searching for it by name or LOCODE.</span>
      </div>
      <app-search-location *ngIf="!locationFound" [restrictTypeHarbour]=true (locationResult)="onLocationResult($event)"></app-search-location>
      <div class="text-center" *ngIf="locationFound">
        <app-ssn-table [entryData]="locationData"></app-ssn-table>
        <button class="btn btn-ssn" (click)="deselectLocation()">
          <img src="assets/images/icons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
      </div>
    </div>
    <div class="col-md-3">
      <label for="latitude" class="col-form-label-sm no-wrap mb-0"> Latitude:</label>
      <input id="latitude" [(ngModel)]="formModel.latitude" type="number" max="90" min="-90" step="0.0001" class="form-control form-control-sm"
      />
    </div>
    <div class="col-md-3">
      <label for="longitude" class="col-form-label-sm no-wrap mb-0">Longitude:</label>
      <input id="longitude" [(ngModel)]="formModel.longitude" type="number" max="180" min="-180" step="0.00001" class="form-control form-control-sm"
      />
    </div>

  </div>


  <div class="row mb-1">
    <div class="col-md-6">
      <app-date-time-picker [header]="'From Date'" [dateTimeModel]="fromDateModel" (dateTimeResult)="onFromDateResult($event)"></app-date-time-picker>
      <app-date-time-picker [header]="'To Date'" [dateTimeModel]="toDateModel" (dateTimeResult)="onToDateResult($event)"></app-date-time-picker>
    </div>
    <div class="col-md-6">
      <div class="mb-2">
        <label class="col-form-label-sm no-wrap mb-0" for="activity_type_select">Activity</label>
        <ng-select id="activity_type_select" [items]="activityTypeList" bindLabel="name" [ngModel]="formModel.activityType" placeholder="Select activity..."
          (change)="onActivityTypeResult($event)"></ng-select>
      </div>
      <label class="col-form-label-sm no-wrap mb-0" for="security_measures_applied_in_lieu">(Optional) Security measures
        applied in lieu</label>
      <textarea [(ngModel)]="formModel.securityMeasuresAppliedInLieu" class="form-control form-control-sm" id="security_measures_applied_in_lieu"
        rows="6" placeholder="Please describe any security measures applied in lieu of procedures specified in the SSP."></textarea>
    </div>
  </div>

  <div class="alert alert-danger text-center" *ngIf="fromDateIsAfterToDateError">
    <div *ngIf="fromDateIsAfterToDateError">Error: 'to date' must be after 'from date'.</div>
  </div>

  <div class="row text-center mb-1">
    <div class="col">
      <div *ngIf="!fromDateIsAfterToDateError && formModel.fromDate && formModel.toDate && formModel.activityType && formModel.activityTypeId">
        <button class="btn btn-ssn" (click)="addShipToShipActivity()">
          <span> Add Entry</span>
        </button>
      </div>
      <div *ngIf="!(!fromDateIsAfterToDateError && formModel.fromDate && formModel.toDate && formModel.activityType && formModel.activityTypeId)">
        <button class="btn btn-ssn" disabled>
          <span> Add Entry</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-ship-to-ship-activity-table [tableEntryList]="shipToShipActivityListDeepCopy" (delete)="onDeleteShipToShipActivity($event)"></app-ship-to-ship-activity-table>
    </div>
  </div>

</app-ssn-card>