<div id="overlay" *ngIf="!overviewFound">
    <div id="loading-box" class="text-center">
        <img src='assets/images/animations/portcall.gif' />
        <h1>LOADING PORT CALLS</h1>
    </div>
</div>

<div class="mb-3">
    <table class="table table-bordered text-center mx-auto mb-0">
        <thead class="bg-ssn text-white">
            <tr>
                <th>Active Port Calls</th>
            </tr>
        </thead>
        <tbody *ngIf="!(overviewList.length > 0)">
            <tr>
                <img src="assets/images/VoyageIcons/128x128/warning.png" height="24px">
                <span>There are no active port calls.</span>
            </tr>
        </tbody>
    </table>
    <div class="table-responsive" *ngIf="(overviewList.length > 0)">
        <ng2-smart-table [settings]="tableSettings" [source]="overviewSource"></ng2-smart-table>
    </div>
</div>

<div class="mb-3" *ngIf="permissions.edit">
    <table class="table table-bordered text-center mx-auto mb-0">
        <thead class="bg-ssn text-white">
            <tr>
                <th>Port Call Drafts</th>
            </tr>
        </thead>
        <tbody *ngIf="!(draftOverviewList.length > 0)">
            <tr>
                <img src="assets/images/VoyageIcons/128x128/warning.png" height="24px">
                <span>There are no port call drafts.</span>
            </tr>
        </tbody>
    </table>
    <div class="table-responsive" *ngIf="(draftOverviewList.length > 0)">
        <ng2-smart-table [settings]="tableSettings" [source]="draftOverviewSource"></ng2-smart-table>
    </div>
</div>

<div class="mb-3" *ngIf="userIsGovernmentAgency">
    <table class="table table-bordered text-center mx-auto mb-0">
        <thead class="bg-ssn text-white">
            <tr>
                <th>Cleared Port Calls</th>
            </tr>
        </thead>
        <tbody *ngIf="!(clearedByUserAgencyOverviewList.length > 0)">
            <tr>
                <img src="assets/images/VoyageIcons/128x128/warning.png" height="24px">
                <span>There are no cleared port calls.</span>
            </tr>
        </tbody>
    </table>
    <div class="table-responsive" *ngIf="(clearedByUserAgencyOverviewList.length > 0)">
        <ng2-smart-table [settings]="tableSettings" [source]="clearedByUserAgencyOverviewSource"></ng2-smart-table>
    </div>
</div>