<div class="whatsNew">

    <h1>What's New (Last updated: 22.11.2018) </h1>

    <h4>Deployment Date: 22.11.2018</h4>

    <div>
        <b>Changes</b>
        <ol>
            <li>Features
                <ul>
                    <li> DPG-FAL  form implemented</li>
                </ul>
            </li>
            <li>Enhancements
                <ul>
                    <li>
                        Improved  loading of port calls
                    </li>
                    <li>
                        User Management (search and edit details)
                    </li>
                    <li>
                        User Information changed to  ‘Created By’ (person creating the ship call report)
                    </li>
                    <li>
                        Listing of pax in summary screen
                    </li>
                    <li>
                        Listing of crew in summary screen
                    </li>
                    <li>
                        Listing of Cargo in summary screen
                    </li>
                </ul>
            </li>
            <li>Fixes
                <ul>
                    <li>
                        Identity Document accepts alfa numeric values
                    </li>
                    <li>
                        CallSign validation, 4-8 characters
                    </li>
                    <li>
                        Ship Registry Number accepts alfa numeric values
                    </li>
                    <li>
                        Changes in Ship Registration GUI (cosmetic)
                    </li>
                    <li>
                        Location Code 2 char + 3 char
                    </li>
                    <li>
                        Removed Article Code from Ship Stores
                    </li>
                    <li>
                        Fixed some typos
                    </li>
                    <li>
                        MMSI and IMO # validation
                    </li>
                    <li>
                        Location Codes validation (unique code)
                    </li>
                    <li>
                        Identity Document Issue/Expiry date required
                    </li>
                </ul>
            </li>
        </ol>
    </div>

</div>