<div class="whatsNew">

    <h1>What's New (current version is x.x)</h1>

    <h3>Version x.x)</h3>

    <div>
        <b>Changes</b>
        <ol>
            <li>Placeholder
                <ul>
                    <li>Placeholder
                        <ul>
                            <li>Placeholder.</li>
                            <li>Placeholder:
                                <ul>
                                    <li>Placeholder</li>
                                    <li>Placeholder</li>
                                    <li>Placeholder.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Placeholder <span style="color: red">Placeholder</span>.</li>
                    <li>Placeholder</li>
                    <li>Placeholder</li>
                </ul>
            </li>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ol>
    </div>

</div>