<app-ssn-card header="Add New Passenger" icon="pax.png">

  <form name="mainForm">

    <div class="col-lg-12">
      <app-ssn-card header="Personalia" icon="user.png">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col my-auto">
                <label for="familyName" class="col-form-label-sm no-wrap mb-0">Family Name</label>
                <input type="text" pattern="^[a-zA-Z]+$" required [(ngModel)]="portCallPassengerModel.familyName" placeholder="Family Name"
                  class="form-control form-control-sm" required name="familyName">
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="formValid">
              <li>
                <small>Only letters allowed.</small>
              </li>
              <li>
                <small>More than one letter required.</small>
              </li>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="givenName" class="col-form-label-sm no-wrap mb-0">Given Name</label>
                <input type="text" required [(ngModel)]="portCallPassengerModel.givenName" placeholder="Given Name" class="form-control form-control-sm"
                  pattern="^[a-zA-Z0-9.]+$" name="givenName">
              </div>
            </div>

            <div class="alert alert-danger" *ngIf="formValid">
              <li>
                <small>Only letters, numbers and "." allowed.</small>
              </li>
              <li>
                <small>More than one letter required.</small>
              </li>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="app-date-of-birth" class="col-form-label-sm no-wrap mb-0">Date of Birth</label>
                <app-select-date (selectDate)="setDateOfBirth($event)"></app-select-date>
              </div>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="app-search-country" class="col-form-label-sm no-wrap mb-0">Nationality</label>
                <app-search-country (selectCountry)="setNationality($event)" (deselectCountry)="deselectNationality()"></app-search-country>
              </div>
            </div>
          </div>
          <!-- /.col-lg-6 -->

          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col my-auto">
                <label for="app-search-country" class="col-form-label-sm no-wrap mb-0">Coutry of Birth</label>
                <app-search-country (selectCountry)="setCountryOfBirth($event)" (deselectCountry)="deselectCountryOfBirth()"></app-search-country>
              </div>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="placeOfBirth" class="col-form-label-sm no-wrap mb-0">Place of Birth</label>
                <input type="text" pattern="^[a-zA-Z]+$" required [(ngModel)]="portCallPassengerModel.placeOfBirth" placeholder="Place of Birth"
                  class="form-control form-control-sm" name="placeOfBirth">
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="formValid">
              <li>
                <small>Only letters allowed.</small>
              </li>
              <li>
                <small>More than one letter required.</small>
              </li>
            </div>

            <div class="form-group row">
              <div class="col my-auto">
                <label for="gender" class="col-form-label-sm no-wrap mb-0">Gender</label>
                <ng-select class="ng-select-placeholder-size" [items]="genderList" [(ngModel)]="portCallPassengerModel.gender" name="gender"
                  [closeOnSelect]="true" bindLabel="description" placeholder="Gender" (change)="selectGender($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <!-- /.col-lg-6 -->
        </div>
      </app-ssn-card>

      <app-identity-document (changeIdentityDocumentModel)="setIdentityDocumentModel($event)"></app-identity-document>

      <app-ssn-card header="Voyage" icon="voyage.png">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group row" required>
              <div class="col my-auto">
                <label for="transit" class="col-form-label-sm no-wrap mb-0">Transit</label>
                <ng-select class="ng-select-placeholder-size " [items]="booleanList" [(ngModel)]="inTransit" name="transit" [closeOnSelect]="true"
                  bindLabel="name" placeholder="Transit" (change)="selectTransit($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="form-group">
              <div class="col my-auto">
                <label for="search-port-of-embarkation" class="col-form-label-sm no-wrap mb-0">Port of Embarkation</label>
                <app-search-location *ngIf="!portCallPassengerModel.portOfEmbarkation" [restrictTypeHarbour]=true (locationResult)="setPortOfEmbarkation($event)"
                  id="search-port-of-embarkation"></app-search-location>

                <div class="input-group" *ngIf="portCallPassengerModel.portOfEmbarkation">
                  <input readonly type="text" name="port-of-embarkation" id="app-find-port-of-embarkation" class="form-control form-control-sm"
                    [(ngModel)]="portCallPassengerModel.portOfEmbarkation.name">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-ssn" (click)="deselectPortOfEmbarkation()">
                      <img src="assets/images/icons/128x128/white/cancel.png" height="16px">
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="col my-auto">
                <label for="app-find-port-of-disembarkation" class="col-form-label-sm no-wrap mb-0">Port of Disembarkation</label>
                <app-search-location *ngIf="!portCallPassengerModel.portOfDisembarkation" [restrictTypeHarbour]=true (locationResult)="setPortOfDisembarkation($event)"
                  id="app-find-port-of-disembarkation"></app-search-location>
                <div class="input-group" *ngIf="portCallPassengerModel.portOfDisembarkation">
                  <input readonly type="text" name="port-of-disembarkation" id="app-find-port-of-disembarkation" class="form-control form-control-sm"
                    [(ngModel)]="portCallPassengerModel.portOfDisembarkation.name">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-ssn" (click)="deselectPortOfDisembarkation()">
                      <img src="assets/images/icons/128x128/white/cancel.png" height="16px">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-ssn-card>

    </div>
    <!-- /.col-lg-6 -->
  </form>

  <div class="col-lg-12">

    <pre>{{ portCallPassengerModel | json }}</pre>

    <div class="form-group">
      <button *ngIf="mainForm.valid" type="submit" class="btn btn-ssn mt-2" (click)="addPassenger()">
        <span>Submit</span>
      </button>
      <button *ngIf="!mainForm.valid" type="submit" disabled class="btn btn-ssn mt-2">
        <span>Submit</span>
      </button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-ssn mt-2" (click)=addMockData()>
        <span>Add mockdata</span>
      </button>
      <button type="submit" class="btn btn-ssn mt-2" (click)=mockFillForm()>
        <span>Fill form with mockdata</span>
      </button>
    </div>

    <div class="mb-3">

      <div class="table-responsive">
        <div ng2-st-add-button="" ng-reflect-grid="[object Object]" class="ng2-smart-actions-title ng2-smart-actions-title-add">
        </div>
        <ng2-smart-table [settings]="tableSettings" [source]="passengerListDataSource">
        </ng2-smart-table>

      </div>
    </div>
  </div>
</app-ssn-card>

<app-save-passenger-list></app-save-passenger-list>


  <ng-template #viewModal let-close="close()" class="modal fade">
    <div class="modal-header">
      <h4 class="modal-title">View</h4>
      <button type="button" class="close" aria-label="Close" (click)="close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body" *ngIf="modalModel">
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Given Name</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.givenName" readonly type="text" name="givenName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Family Name</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.familyName" readonly type="text" name="familyName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Date of Birth</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.dateOfBirth" readonly type="text" name="dateOfBirth">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Country of Birth</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.countryOfBirth" class="form-control form-control-sm" [(ngModel)]="modalModel.countryOfBirth.name"
              readonly type="text" name="countryOfBirth">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Nationality</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.nationality" class="form-control form-control-sm" [(ngModel)]="modalModel.nationality.name" readonly
              type="text" name="nationality">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Transit</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.inTransit" readonly type="text" name="inTransit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Port of Embarkation</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.portOfEmbarkation" class="form-control form-control-sm" [(ngModel)]="modalModel.portOfEmbarkation.name"
              readonly type="text" name="portOFEmbarkation">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Port of Disembarkation</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.portOfDisembarkation" class="form-control form-control-sm" [(ngModel)]="modalModel.portOfDisembarkation.name"
              readonly type="text" name="portOfDisembarkation">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Number of Identity Document</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentNumber" readonly
              type="text" name="identityDocumentNumber">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Identity Document Type</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentType" readonly type="text"
              name="identityDocumentType">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Identity Document Issue Date</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentIssueDate" readonly
              type="text" name="identityDocumentIssueDate">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Identity Document Expiry Date</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentExpiryDate" readonly
              type="text" name="identityDocumentExpiryDate">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Issuing Nation</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0].issuingNation" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].issuingNation.name"
              readonly type="text" name="issuingNation">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Visa or Residence Permit Number</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].visaOrResidencePermitNumber" readonly
              type="text" name="visaOrResidencePermitNumber">
          </div>
        </div>
      <pre>{{ modalModel | json }}</pre>
    </div>
  </ng-template>

  <ng-template #editModal let-close="close()">
    <div class="modal-header">
      <h4 class="modal-title">Edit</h4>
      <button type="button" class="close" aria-label="Close" (click)="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="modalModel">
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Given Name</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.givenName" type="text" name="givenName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Family Name</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.familyName" type="text" name="familyName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Date of Birth</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.dateOfBirth" type="text" name="dateOfBirth">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Country of Birth</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.countryOfBirth" class="form-control form-control-sm" [(ngModel)]="modalModel.countryOfBirth.name"
              type="text" name="countryOfBirth">
            <app-search-country (selectCountry)="setNationality($event)" (deselectCountry)="deselectNationality()"></app-search-country>
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Nationality</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.nationality" class="form-control form-control-sm" [(ngModel)]="modalModel.nationality.name" type="text"
              name="nationality">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Transit</label>
          <div class="col my-auto">
            <input class="form-control form-control-sm" [(ngModel)]="modalModel.inTransit" type="text" name="inTransit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Port of Embarkation</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.portOfEmbarkation" class="form-control form-control-sm" [(ngModel)]="modalModel.portOfEmbarkation.name"
              type="text" name="portOFEmbarkation">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Port of Disembarkation</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.portOfDisembarkation" class="form-control form-control-sm" [(ngModel)]="modalModel.portOfDisembarkation.name"
              type="text" name="portOfDisembarkation">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Number of Identity Document</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentNumber" type="text"
              name="identityDocumentNumber">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Identity Document Type</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentType" type="text"
              name="identityDocumentType">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Identity Document Issue Date</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentIssueDate" type="text"
              name="identityDocumentIssueDate">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Identity Document Expiry Date</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].identityDocumentExpiryDate" type="text"
              name="identityDocumentExpiryDate">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Issuing Nation</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0].issuingNation" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].issuingNation.name"
              type="text" name="issuingNation">
          </div>
        </div>
        <div class="form-group row">
          <label class="col col-form-label-sm no-wrap mb-0">Visa or Residence Permit Number</label>
          <div class="col my-auto">
            <input *ngIf="modalModel.identityDocument[0]" class="form-control form-control-sm" [(ngModel)]="modalModel.identityDocument[0].visaOrResidencePermitNumber" type="text"
              name="visaOrResidencePermitNumber">
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-ssn" (click)="editPassenger(); close">
        <img src="assets/images/icons/128x128/white/edit.png" height="24px">
        <span>Edit Entry</span>
      </button>
      <button type="button" class="btn btn-ssn" (click)="close">
        <span>Cancel</span>
      </button>
    </div>
  </ng-template>