/* Smart table */
:root {
    --color-primary: #002d50;
    --color-primary-light: #37557c;
    --color-primary-dark: #000128;
    --color-primary-text: #ffffff;
  }
  
  :host /deep/ ng2-smart-table thead {
    background-color: var(--color-primary);
    color: white;
  }
  
  :host /deep/ .ng2-smart-filter input {
    color: black;
  }
  
  :host /deep/ a.ng2-smart-sort-link.sort::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 4px solid white;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: rotate(90deg);
  }
  
  :host /deep/ a.ng2-smart-sort-link.sort.asc::after {
    border-bottom: 4px solid white;
    transform: rotate(0deg);
    margin-bottom: 2px;
  }
  
  :host /deep/ a.ng2-smart-sort-link.sort.desc::after {
    border-bottom: 4px solid white;
    transform: rotate(180deg);
    margin-bottom: -2px;
  }
  
  :host /deep/ ng2-smart-table a {
    color: var(--color-primary-text);
  }
  
  :host /deep/ a.ng2-smart-page-link.page-link {
    color: var(--color-primary-dark);
    border-color: #dee2e6;
  }
  
  :host /deep/ span.ng2-smart-page-link.page-link {
    color: var(--color-primary-dark);
    background-color: #dee2e6;
    border-color: #dee2e6;
  }
  
  :host /deep/ tbody > tr > td.ng2-smart-actions > a {
    color: var(--color-primary-dark);
  }
  
  :host /deep/ ng2-st-tbody-edit-delete > a,
  :host /deep/ ng2-st-tbody-create-cancel > a {
    color: var(--color-primary);
  }
  
  .ng-select-placeholder-size {
    font-size: 0.875rem;
  }
  
  :host /deep/ .ng-placeholder, ::placeholder  {
      color: gray !important;
      font-style: italic;
  }
  
  