<div class="modal-header">
  <h4 class="modal-title">{{ headerText }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ bodyText }}
</div>
<div class="modal-footer">
  <div *ngIf="modalStyle == 'CONFIRM_MODAL'">
  	<button type="button" class="btn btn-ssn" (click)="activeModal.close('proceed')">Yes</button>
  	<button type="button" class="btn btn-ssn" (click)="activeModal.close('stop')">No</button>
  </div>
  <button type="button" class="btn btn-ssn" (click)="activeModal.close('Close click')" *ngIf="modalStyle != 'CONFIRM_MODAL'">Close</button>
</div>