<button class="btn btn-sm btn-ssn" ngbTooltip="Set actual time of arrival and departure" (click)="openModal(actualTimeModal)">
  <div class="mx-auto">
    <img src="assets/images/icons/128x128/white/time.png" height="20px" />
  </div>
</button>

<ng-template #actualTimeModal let-close="close()">
  <div class="modal-header">
    <h4 class="modal-title">Set actual time of arrival and departure</h4>
    <button type="button" class="close" aria-label="Close" (click)="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-date-time-picker [header]="'ATA'" [dateTimeInput]="portCallAta" (dateTimeResult)="onAtaResult($event)" (dateFormatError)="onAtaDateFormatError($event)"></app-date-time-picker>
    <div class="alert alert-danger" *ngIf="ataAfterTodayError">Actual arrival time cannot be set to the future.</div>
    <app-date-time-picker [header]="'ATD'" [dateTimeInput]="portCallAtd" (dateTimeResult)="onAtdResult($event)" (dateFormatError)="onAtdDateFormatError($event)"></app-date-time-picker>
    <div class="alert alert-danger" *ngIf="atdAfterTodayError">Actual departure time cannot be set to the future.</div>
    <div class="alert alert-danger" *ngIf="dateSequenceError">Departure time must be after arrival time.</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" disabled *ngIf="ataAfterTodayError || atdAfterTodayError || dateSequenceError || ataDateFormatError || atdDateFormatError">
      <img src="assets/images/icons/128x128/white/save.png" height="24px">
      <span>Save</span>
    </button>
    <span *ngIf="saving">Saving...</span>
    <span class="badge badge-success" *ngIf="saved">Your changes have been saved.</span>
    <span class="badge badge-danger" *ngIf="saveError">An error occured when trying to save.</span>
    <button class="btn btn-success" (click)="save()" [disabled]="saving" *ngIf="!(ataAfterTodayError || atdAfterTodayError || dateSequenceError || ataDateFormatError || atdDateFormatError)">
      <img src="assets/images/icons/128x128/white/save.png" height="20px">
      <span>Save</span>
    </button>
    <button type="button" class="btn btn-ssn" (click)="close">
      <span>Exit</span>
    </button>
  </div>
</ng-template>