  
   :host ::ng-deep ng2-st-tbody-edit-delete > a,
   :host ::ng-deep ng2-st-tbody-create-cancel > a {
     color: var(--color-primary);
   }
  
  .ng-select-placeholder-size {
    font-size: 0.875rem;
  }
  
  :host ::ng-deep .ng-placeholder, ::placeholder  {
      color: gray !important;
      font-style: italic;
  }
  