<app-table-card header="Location Information" icon="location.png">
  <tbody>
    <tr>
      <td>
        <img *ngIf="locationFlag" src="assets/images/flags/128x128/{{locationFlag | lowercase}}.png" class="my-2" height="32px">
      </td>
      <td *ngFor="let entry of locationTimeProperties" class="no-wrap px-1 mx-1">
        <tr *ngIf="entry.data">
          <small>{{ entry.description }}:</small>
        </tr>
        <tr *ngIf="entry.data">{{ entry.data }}</tr>
      </td>
    </tr>
  </tbody>
</app-table-card>