<div class="card ssn-card text-center">
  <div class="card-header bg-ssn text-ssn">
    Port Call Details
  </div>
  <div class="card-body text-left">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-ssn text-ssn">
            <th>No. of Crew</th>
            <th>No. of Passengers</th>
            <th>Actual Draught</th>
            <th>Air Draught</th>
            <th>Gross Gross Weight</th>
            <th>Gross Weight</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-selected-purposes></app-selected-purposes>
  </div>
</div>