
<app-search-country *ngIf="!countryOfBirthFound" (selectCountry)="setCountry($event)" [label]="label"></app-search-country>

<div *ngIf="countryOfBirthFound" class="input-group">
  <div class="input-group-prepend flag">
    <img src="assets/images/Flags/128x128/{{countryOfBirthFlag | lowercase}}.png" height="30px">
  </div>
  <input id="search-location" type="text" class="form-control form-control-sm" readonly="readonly" [(ngModel)]="countryOfBirthModel.name"
  />
  <button class="btn btn-sm btn-ssn input-group-append" ngbTooltip="Remove port" (click)="deselectCountry()">
    <img height="20px" src="assets/images/VoyageIcons/128x128/white/cancel.png">
  </button>
</div>