<div class="card-body">
    <ng-template #rt let-r="result" let-t="term">
        <div class="">
            <img src="assets/images/Flags/128x128/{{r.twoCharCode}}.png" height="20px" />
            <strong *ngIf="r.countryName"></strong> {{ r.countryName }}
        </div>
    </ng-template>

    <div *ngIf="!countrySelected">
        <label for="search-country">Search by country name</label>
        <input id="search-country" type="text" class="form-control mx-auto" [(ngModel)]="countryModel" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter" (selectItem)="selectCountry($event)" placeholder="Search using country name"
        />
    </div>
</div>