<div class="jumbotron bg-ssn-light text-center">
  <div class="row">
    <div class="col-2">
      <img src="assets/images/VoyageIcons/128x128/white/ship.png" height="64px">
    </div>
    <div class="col-8">
      <h3 class="text-ssn display-4">REGISTER SHIP</h3>
    </div>
  </div>
  <form #form="ngForm">
    <div class="row">
      <div class="col">
        <ssn-card header="Ship Identification" icon="ship.png">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_name">Ship Name</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.name" name="shipName" type="text" class="form-control form-control-sm" id="ship_name" placeholder="Enter ship name"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-2 col-xl-2" for="call_sign">Call Sign</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.callSign" name="callSign" type="text" class="form-control form-control-sm" id="call_sign" placeholder="Enter call sign">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="imo_no">IMO Number</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.imoNo" name="imoNo" type="number" class="form-control form-control-sm" id="imo_no" placeholder="Enter IMO number"
                    #imoNo="ngModel" numberValidator integerValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!imoNo.valid" class="alert alert-danger">
                <li *ngIf="imoNo.hasError('notNumberError')">
                  <small>IMO number must be a valid number.</small>
                </li>
                <li *ngIf="imoNo.hasError('notIntegerError')">
                  <small>IMO number must be an integer.</small>
                </li>
                <li *ngIf="imoNo.hasError('notPositiveNumberError')">
                  <small>IMO number must be a positive number.</small>
                </li>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-2 col-lg-3 col-xl-2" for="mmsi_no">MMSI Number</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.mmsiNo" name="mmsiNo" type="number" class="form-control form-control-sm" id="mmsi_no" placeholder="Enter MMSI number"
                    #mmsiNo="ngModel" integerValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!mmsiNo.valid" class="alert alert-danger">
                <li *ngIf="mmsiNo.hasError('notIntegerError')">
                  <small>MMSI number must be an integer.</small>
                </li>
                <li *ngIf="mmsiNo.hasError('notPositiveNumberError')">
                  <small>MMSI number must be a positive number.</small>
                </li>
              </div>
            </div>
          </div>
        </ssn-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ssn-card header="Ship Details" icon="ship.png">

          <div class="row">
            <div class="col-lg-6" *ngIf="!shipTypeSelected">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_type_typeahead">Ship Type</label>
                <ng-template #rt let-r="result" let-t="term">{{ r.name }}</ng-template>
                <div class="col">
                  <input id="ship_type_typeahead" name="ship_type_typeahead" type="text" class="form-control form-control-sm" [(ngModel)]="selectedShipType"
                    [ngbTypeahead]="shipTypeSearch" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Search for a ship type"
                    (selectItem)="selectShipType($event)" #stt />
                </div>
                <div *ngIf="shipTypeSearchFailed && stt.value != ''" class="col-3 text-center">
                  <small class="no-wrap">No</small>
                  <small class="no-wrap">results</small>
                </div>
              </div>
            </div>
            <div class="col-lg-6" *ngIf="shipTypeSelected">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_type">Ship Type</label>
                <div class="col">
                  <div class="input-group">
                    <input id="ship_type" name="ship_type" type="text" class="form-control form-control-sm" [ngModel]="selectedShipType.name"
                      disabled="true" />
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-ssn" (click)="deselectShipType()">
                        <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="16px">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="year_of_build">Year of Build</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.yearOfBuild" name="yearOfBuild" type="number" class="form-control form-control-sm" id="year_of_build"
                    placeholder="Enter year of build" #yearOfBuild="ngModel" numberValidator integerValidator positiveNumberValidator
                  />
                </div>
              </div>
              <div *ngIf="!yearOfBuild.valid" class="alert alert-danger">
                <li *ngIf="yearOfBuild.hasError('notNumberError')">
                  <small>Year of build must be a valid number.</small>
                </li>
                <li *ngIf="yearOfBuild.hasError('notIntegerError')">
                  <small>Year of build must be an integer.</small>
                </li>
                <li *ngIf="yearOfBuild.hasError('notPositiveNumberError')">
                  <small>Year of build must be a positive number.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_length">Length</label>
                <div class="col">
                  <div class="input-group">
                    <div ngbDropdown class="input-group-prepend">
                      <button class="btn btn-sm btn-ssn" id="lengthTypeDropdown" ngbDropdownToggle> {{ lengthTypeDropdownString }} </button>
                      <div ngbDropdownMenu aria-labelledby="lengthTypeDropdown">
                        <button class="dropdown-item" *ngFor="let lengthType of lengthTypeList" (click)="selectLengthType(lengthType)">{{ lengthType.name }}</button>
                      </div>
                    </div>
                    <input [(ngModel)]="shipModel.length" name="shipLength" type="number" class="form-control form-control-sm" id="ship_length"
                      placeholder="Enter ship length" [disabled]="!lengthTypeSelected" #shipLength="ngModel" numberValidator
                      positiveNumberValidator />
                  </div>
                </div>
              </div>
              <div *ngIf="!shipLength.valid && lengthTypeSelected" class="alert alert-danger">
                <li *ngIf="shipLength.hasError('notNumberError')">
                  <small>Ship length must be a valid number.</small>
                </li>
                <li *ngIf="shipLength.hasError('notPositiveNumberError')">
                  <small>Ship length must be a positive number.</small>
                </li>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_breadth">Breadth</label>
                <div class="col">
                  <div class="input-group">
                    <div ngbDropdown class="input-group-prepend">
                      <button class="btn btn-sm btn-ssn" id="breadthTypeDropdown" ngbDropdownToggle> {{ breadthTypeDropdownString }} </button>
                      <div ngbDropdownMenu aria-labelledby="breadthTypeDropdown">
                        <button class="dropdown-item" *ngFor="let breadthType of breadthTypeList" (click)="selectBreadthType(breadthType)">{{ breadthType.name }}</button>
                      </div>
                    </div>
                    <input [(ngModel)]="shipModel.breadth" name="breadth" type="number" class="form-control form-control-sm" id="ship_breadth"
                      placeholder="Enter ship breadth" [disabled]="!breadthTypeSelected" #shipBreadth="ngModel" numberValidator
                      positiveNumberValidator />
                  </div>
                </div>
              </div>
              <div *ngIf="!shipBreadth.valid && breadthTypeSelected" class="alert alert-danger">
                <li *ngIf="shipBreadth.hasError('notNumberError')">
                  <small>Ship breadth must be a valid number.</small>
                </li>
                <li *ngIf="shipBreadth.hasError('notPositiveNumberError')">
                  <small>Ship breadth must be a positive number.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_power">Power</label>
                <div class="col">
                  <div class="input-group">
                    <div ngbDropdown class="input-group-prepend">
                      <button class="btn btn-sm btn-ssn" id="powerTypeDropdown" ngbDropdownToggle> {{ powerTypeDropdownString }} </button>
                      <div ngbDropdownMenu aria-labelledby="powerTypeDropdown">
                        <button class="dropdown-item" *ngFor="let powerType of powerTypeList" (click)="selectPowerType(powerType)">{{ powerType.name }}</button>
                      </div>
                    </div>
                    <input [(ngModel)]="shipModel.power" name="power" type="number" class="form-control form-control-sm" id="ship_power" placeholder="Enter ship power"
                      [disabled]="!powerTypeSelected" #shipPower="ngModel" numberValidator integerValidator positiveNumberValidator
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="!shipPower.valid && powerTypeSelected" class="alert alert-danger">
                <li *ngIf="shipPower.hasError('notNumberError')">
                  <small>Ship power must be a valid number.</small>
                </li>
                <li *ngIf="shipPower.hasError('notIntegerError')">
                  <small>Ship power must be an integer.</small>
                </li>
                <li *ngIf="shipPower.hasError('notPositiveNumberError')">
                  <small>Ship power must be a positive number.</small>
                </li>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="hull_type_dropdown">Hull Type</label>
                <div class="col">
                  <div ngbDropdown>
                    <button class="btn btn-sm btn-ssn" id="hull_type_dropdown" ngbDropdownToggle> {{ hullTypeDropdownString }}</button>
                    <div ngbDropdownMenu aria-labelledby="hull_type_dropdown">
                      <button class="dropdown-item" *ngFor="let hullType of hullTypeList" (click)="selectHullType(hullType)">{{ hullType.name }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_height">Height</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.height" #shipHeight="ngModel" numberValidator positiveNumberValidator name="height" type="number"
                    class="form-control form-control-sm" id="height" placeholder="Enter ship height" />
                </div>
              </div>
              <div *ngIf="!shipHeight.valid" class="alert alert-danger">
                <li *ngIf="shipHeight.hasError('notNumberError')">
                  <small>Ship height must be a valid number.</small>
                </li>
                <li *ngIf="shipHeight.hasError('notPositiveNumberError')">
                  <small>Ship height must be a positive number.</small>
                </li>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-2 col-md-2 col-lg-3 col-xl-2" for="ship_draught">Draught</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.draught" name="draught" type="number" class="form-control form-control-sm" id="ship_draught"
                    placeholder="Enter ship draught" #shipDraught="ngModel" numberValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!shipDraught.valid" class="alert alert-danger">
                <li *ngIf="shipDraught.hasError('notNumberError')">
                  <small>Ship draught must be a valid number.</small>
                </li>
                <li *ngIf="shipDraught.hasError('notPositiveNumberError')">
                  <small>Ship draught must be a positive number.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-3 col-md-3 col-lg-3" for="gross_tonnage">Gross Tonnage</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.grossTonnage" name="grossTonnage" type="number" class="form-control form-control-sm" id="gross_tonnage"
                    placeholder="Enter gross tonnage" #grossTonnage="ngModel" numberValidator integerValidator positiveNumberValidator
                  />
                </div>
              </div>
              <div *ngIf="!grossTonnage.valid" class="alert alert-danger">
                <li *ngIf="grossTonnage.hasError('notNumberError')">
                  <small>Gross tonnage must be a valid number.</small>
                </li>
                <li *ngIf="grossTonnage.hasError('notIntegerError')">
                  <small>Gross tonnage must be an integer.</small>
                </li>
                <li *ngIf="grossTonnage.hasError('notPositiveNumberError')">
                  <small>Gross tonnage must be a positive number.</small>
                </li>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="deadweight_tonnage">Deadweight Tonnage</label>
                <div class="col">
                  <input [(ngModel)]="shipModel.deadweightTonnage" name="deadweightTonnage" type="number" class="form-control form-control-sm"
                    id="deadweight_tonnage" placeholder="Enter deadweight tonnage" #dwt="ngModel" numberValidator integerValidator
                    positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!dwt.valid" class="alert alert-danger">
                <li *ngIf="dwt.hasError('notNumberError')">
                  <small>Deadweight tonnage must be a valid number.</small>
                </li>
                <li *ngIf="dwt.hasError('notIntegerError')">
                  <small>Deadweight tonnage must be an integer.</small>
                </li>
                <li *ngIf="dwt.hasError('notPositiveNumberError')">
                  <small>Deadweight tonnage must be a positive number.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label-sm" for="has_side_thrusters">Side thrusters</label>
            <div class="card pt-2" id="has_side_thrusters">
              <div class="checkbox row">
                <div class="col ml-2">
                  <label class="col-form-label-sm">
                    <input [(ngModel)]="shipModel.hasSideThrusters" name="hasSideThrusters" type="checkbox" value=""> Side thrusters</label>
                </div>
              </div>
              <div class="checkbox row">
                <div class="col ml-2">
                  <label class="col-form-label-sm">
                    <input [(ngModel)]="shipModel.hasSideThrustersFront" name="hasSideThrustersFront" type="checkbox" value=""> Front side thrusters</label>
                </div>
              </div>
              <div class="checkbox row">
                <div class="col ml-2">
                  <label class="col-form-label-sm">
                    <input [(ngModel)]="shipModel.hasSideThrustersBack" name="hasSideThrustersBack" type="checkbox" value=""> Back side thrusters</label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label-sm" for="remark">Remark</label>
            <textarea [(ngModel)]="shipModel.remark" name="remark" class="form-control form-control-sm" rows="4" id="remark"></textarea>
          </div>
        </ssn-card>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col">
      <app-search-ship-flag-code></app-search-ship-flag-code>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-search-organization></app-search-organization>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ssn-card header="Confirm Ship Registration" icon="checkmark.png">

        <div class="text-center" *ngIf="!form.valid || !(shipModel.name && shipModel.callSign && shipModel.imoNo && shipTypeSelected && shipModel.yearOfBuild && shipModel.length && lengthTypeSelected && shipModel.breadth && breadthTypeSelected && shipModel.power && powerTypeSelected && hullTypeSelected && shipModel.height && shipModel.draught && shipModel.grossTonnage && shipModel.deadweightTonnage && shipFlagCodeSelected && organizationSelected)">
          <div *ngIf="!form.valid" class="text-center">
            <div class="alert alert-danger">
              There are errors in the form that needs to be resolved.
            </div>
          </div>
          <p *ngIf="!shipModel.name">Ship name not set.</p>
          <p *ngIf="!shipModel.callSign">Call sign not set.</p>
          <p *ngIf="!shipModel.imoNo">IMO number not set.</p>
          <p *ngIf="!shipTypeSelected">Ship type not selected.</p>
          <p *ngIf="!shipModel.yearOfBuild">Year of build not set.</p>
          <p *ngIf="!shipModel.length || !lengthTypeSelected">Ship length not set.</p>
          <p *ngIf="!shipModel.breadth || !breadthTypeSelected">Ship breadth not set.</p>
          <p *ngIf="!shipModel.power || !powerTypeSelected">Ship power not set.</p>
          <p *ngIf="!hullTypeSelected">Hull type not selected.</p>
          <p *ngIf="!shipModel.height">Ship height not set.</p>
          <p *ngIf="!shipModel.draught">Ship draught not set.</p>
          <p *ngIf="!shipModel.grossTonnage">Gross tonnage not set.</p>
          <p *ngIf="!shipModel.deadweightTonnage">Deadweight tonnage not set.</p>
          <p *ngIf="!shipFlagCodeSelected">Flag code not selected.</p>
          <p *ngIf="!organizationSelected">Organization not selected.</p>
          <button class="btn btn-ssn" disabled>
            <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Register Ship</button>
        </div>

        <div class="text-center" *ngIf="form.valid && shipModel.name && shipModel.callSign && shipModel.imoNo && shipTypeSelected && shipModel.yearOfBuild && shipModel.length && lengthTypeSelected && shipModel.breadth && breadthTypeSelected && shipModel.power && powerTypeSelected && hullTypeSelected && shipModel.height && shipModel.draught && shipModel.grossTonnage && shipModel.deadweightTonnage && shipFlagCodeSelected && organizationSelected">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Ship Name</th>
                  <th>Call Sign</th>
                  <th>IMO Number</th>
                  <th *ngIf="shipModel.mmsiNo">MMSI Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ shipModel.name }}</td>
                  <td>{{ shipModel.callSign }}</td>
                  <td>{{ shipModel.imoNo }}</td>
                  <td *ngIf="shipModel.mmsiNo">{{ shipModel.mmsiNo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Ship Type</th>
                  <th>Year of Build</th>
                  <th>Length</th>
                  <th>Breadth</th>
                  <th>Power</th>
                  <th>Hull Type</th>
                  <th>Height</th>
                  <th>Draught</th>
                  <th>Gross Tonnage</th>
                  <th>Deadweight Tonnage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="shipTypeSelected">{{ selectedShipType.name }}</td>
                  <td>{{ shipModel.yearOfBuild }}</td>
                  <td>{{ lengthTypeDropdownString }}
                    <br>{{ shipModel.length }}</td>
                  <td>{{ breadthTypeDropdownString }}
                    <br>{{ shipModel.breadth }}</td>
                  <td>{{ powerTypeDropdownString }}
                    <br>{{ shipModel.power }}</td>
                  <td>{{ hullTypeDropdownString }}</td>
                  <td>{{ shipModel.height }}</td>
                  <td>{{ shipModel.draught }}</td>
                  <td>{{ shipModel.grossTonnage }}</td>
                  <td>{{ shipModel.deadweightTonnage }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p *ngIf="shipModel.hasSideThrusters">Ship has side thrusters.</p>
          <p *ngIf="shipModel.hasSideThrustersFront">Ship has front side thrusters.</p>
          <p *ngIf="shipModel.hasSideThrustersBack">Ship has back side thrusters.</p>

          <div *ngIf="shipModel.remark">
            <span>Remark:</span>
            <div class="card p-1 pt-3 text-left mb-3">
              <pre>{{ shipModel.remark }}</pre>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Country Flag</th>
                  <th>Ship Flag Code</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="assets/images/Flags/{{ shipFlagCodeModel.country.twoCharCode | lowercase }}.png" height="20px" />
                  </td>
                  <td>{{ shipFlagCodeModel.shipFlagCode.name }}</td>
                  <td>{{ shipFlagCodeModel.country.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Organization Name</th>
                  <th>Organization Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ organizationModel.name }}</td>
                  <td>{{ organizationModel.organizationNo }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <button class="btn btn-ssn" (click)="registerShip()">
            <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Register Ship</button>
        </div>
      </ssn-card>
    </div>
  </div>
</div>