<app-header-home></app-header-home>
<div class="container pt-5">
  <app-ssn-bg header="ACCOUNT CONFIRMATION" icon="user.png">

    <div *ngIf=isRequesting></div>
    <div *ngIf=!isRequesting>
      <div *ngIf="emailConfirmationSuccessful">

        <app-ssn-card>
            <h3>Thank you for confirming your email address.</h3>
            <p>Now please select a password for the account created by your local administrator:</p>
        </app-ssn-card>
  
        <app-password purpose="Set"></app-password>
  
        <!-- <div class="row">
          <div class="col">
            <h3>You will be redirected to login page in... </h3>
          </div>
          <div class="col">
            <h1>{{secondsRemaining}} seconds</h1>
          </div>
        </div> -->
      </div>
  
      <app-ssn-card *ngIf="!emailConfirmationSuccessful" header="Account confirmation">
        <p>Email confirmation unsuccessful.</p>
        <p>This may occur if the link you've been provided has expired. Please contact your local system administrator.</p>
        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <span>{{errors}}</span>
        </div>
      </app-ssn-card>
    </div>
    
    </app-ssn-bg>
</div>