<div class="card card-ssn text-center">
  <div class="card-header bg-ssn text-ssn">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/VoyageIcons/128x128/white/target.png" height="32px" />
      </div>
      <div class="col-8">
        <h4>
          <span class="no-wrap">Port call</span>
          <span class="no-wrap">purpose</span>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-body text-left">
    <label class="control-label" for="purposes">
      <span class="no-wrap">Select purposes for this</span>
      <span class="no-wrap">port call.</span>
      <small>Use CTRL+click to select multiple purposes.</small>
    </label>
    <select [(ngModel)]="selectedPurposes" (change)="purposeSelected()" class="custom-select" multiple size="8" id="purposes">
      <option *ngFor="let purpose of purposeList" value="{{purpose.portCallPurposeId}}">{{ purpose.name }}</option>
    </select>

    <div *ngIf="otherPurposeSelected" class="form-group row">
        <label class="col-form-label-sm no-wrap col-sm-4 col-md-3 col-lg-4" for="other_purpose">Specify Other Purpose:</label>
      <div class="col my-auto">
        <input [(ngModel)]="otherPurposeName" name="other_purpose" type="text" class="form-control form-control-sm" id="other_purpose"
          placeholder="Enter other purpose" (ngModelChange)="setOtherPurposeName()" />
      </div>
    </div>

    <app-selected-purposes></app-selected-purposes>
  </div>
</div>