<div class="card ssn-card text-center my-2">
  <div class="card-header bg-ssn text-ssn">
    <div class="row">
      <div class="col-2">
        <img *ngIf="icon" src="{{iconPath}}{{icon}}" height="32px" />
      </div>
      <div class="col-8">
        <h4>{{title}}</h4>
      </div>
      <div class="col-2" *ngIf="collapsible">
        <button class="btn btn-sm btn-ssn" (click)="changeState()">
          <img src="{{iconPath}}{{collapsedIcon}}" height="24px" class="clickable">
        </button>
      </div>
    </div>
  </div>
  <div class="card-body text-left" *ngIf="!collapsed">
    <ng-content></ng-content>
  </div>
</div>