<div class="card ssn-card text-center my-2">
  <div class="card-header bg-ssn text-ssn">
    <div class="row text-center text-white px-4" [ngClass]="{clickable: collapsible}" (click)="collapsible ? changeState() : null">

      <div class="d-table-cell mr-auto">
        <img *ngIf="icon" src="{{iconPath}}{{icon}}" height="32px" />
      </div>
      <div class="d-table-cell m-auto">
        <h4>{{ header }}</h4>
      </div>
      <div class="d-table-cell ml-auto">
        <button *ngIf="collapsible" class="btn btn-sm btn-outline-light">
          <img src="{{iconPath}}{{collapsedIcon}}" height="24px">
        </button>
      </div>

    </div>
  </div>
  <div class="card-body text-left" *ngIf="!collapsed">
    <ng-content></ng-content>
  </div>
</div>