<div class="card ssn-card my-2">
  <div class="card-header bg-ssn text-ssn d-table py-1">
    <div class="d-table-row text-white px-4" [ngClass]="{clickable: collapsible}" (click)="collapsible ? changeState() : null">

      <div class="d-table-cell pt-1">
        <h5 class="mb-0 text-vertical-align"><img *ngIf="icon" src="{{iconPath}}{{icon}}" height="24px" /> {{ header }}</h5>
      </div>
      <div class="d-table-cell pb-0 text-right">
        <button *ngIf="collapsible" class="btn btn-sm btn-outline-light">
          <img src="{{iconPath}}{{collapsedIcon}}" height="16px">
        </button>
      </div>

    </div>
  </div>
  <div class="card-body p-2" *ngIf="!collapsed">
    <ng-content></ng-content>
  </div>
</div>