<div class="d-table mx-auto">
  <div class="d-table-row">
    <div class="d-table-cell p-1">
      <div class="form-group">
        <label for="date_input">{{ header }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-sm btn-ssn" (click)="dp.toggle()" type="button">
              <img src="assets/images/icons/128x128/white/calendar.png" height="24px" />
            </button>
          </div>
          <input id="date_input" class="form-control" placeholder="yyyy-mm-dd" name="dp" [showWeekNumbers]="true" [(ngModel)]="dateTimeModel.date"
            ngbDatepicker #dp="ngbDatepicker" (ngModelChange)="dateChanged($event)">
        </div>
      </div>
    </div>
    <div class="d-table-cell p-1">
      <ngb-timepicker [(ngModel)]="dateTimeModel.time" (ngModelChange)="timeChanged($event)" [minuteStep]=15></ngb-timepicker>
    </div>
  </div>
  <div class="d-table-row">
    <div *ngIf="!validDateFormat" class="alert alert-danger" role="alert">
      <span>Invalid date format.</span>
    </div>
  </div>
</div>