<app-ssn-card header="Ship Stores List" icon="alcohol.png">
    <form action="" #shipstoresForm>
        <div class="form-group">
            <label for="articleName">Article Name</label>
            <input type="text" [(ngModel)]="portCallShipStoresModel.articleName" #articleName="ngModel" placeholder="Article Name" class=form-control required name="articleName">
        </div>
        <div class="form-group">
                <label for="sequenceNumber">Sequence Number</label>
            <input type="number" [(ngModel)]="portCallShipStoresModel.sequenceNumber" #sequenceNumber="ngModel" placeholder="Sequence Number" class="form-control" required name="sequenceNumber">
        </div>
        <pre>{{ portCallShipStoresModel | json }}</pre>
        </form>
        <button type="submit" class="btn" (click)="persistData()">Submit</button>

        <div *ngIf="!shipstoresForm.valid">
            OH NO!
        </div>
    <div class="mb-3">
        <div>
            <ul *ngFor="let shipStore of portCallShipStoresList">
                <li>{{ shipStore.articleName }}</li>
            </ul>
        </div>
        
        
        <table class="table table-bordered text-center mx-auto mb-0">
            <thead class="bg-ssn text-white">

            </thead>
        </table>
        <div class="table-responsive">
            <div ng2-st-add-button="" ng-reflect-grid="[object Object]" class="ng2-smart-actions-title ng2-smart-actions-title-add">
                <!--bindings={
              "ng-reflect-ng-if": "true"
            }--><a class="ng2-smart-action ng2-smart-action-add-add" href="#">Add New</a>
        </div>
            <ng2-smart-table [settings]="tableSettings" [source]="shipStoresDataSource"></ng2-smart-table>
        </div> 
    </div>
</app-ssn-card>