<div>
    
    <ng2-smart-table [settings]="tableSettings" [source]="dataSource" (edit)="onEdit($event)"></ng2-smart-table>    
    <div *ngIf="overviewFound">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-ssn text-ssn">
                        <th colspan="2">Ship</th>
                        <th colspan="3">Port of Call</th>
                        <th>Actions</th>
                    </tr>
                    <tr class="bg-ssn text-ssn">
                        <th>Ship Name</th>
                        <th>Call Sign</th>

                        <th>Location</th>
                        <th>ETA</th>
                        <th>ETD</th>

                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ov of overviewModels">
                        <td>
                            <img src="assets/images/Flags/{{ov.shipOverview.country.twoCharCode.toLowerCase()}}.png" height="20px" />
                            {{ ov.shipOverview.ship.name }}
                        </td>
                        <td>{{ ov.shipOverview.ship.callSign }}</td>
                        <td>
                            <img src="assets/images/Flags/{{ov.locationOverview.country.twoCharCode.toLowerCase()}}.png" height="20px" /> 
                            {{ ov.locationOverview.location.name }}
                        </td>
                        <td>{{ ov.portCall.locationEta | date: 'dd-MM-yyyy HH:mm' }} </td>
                        <td>{{ ov.portCall.locationEtd | date: 'dd-MM-yyyy HH:mm' }} </td>
                        <td>
                            <button (click)="editPortCall(ov)">
                                <img src="assets/images/ActionIcons/32x32/icon-update.png" height="20px" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        
        </div>

    </div>
</div>