<div>
    <div *ngIf="overviewFound">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-ssn text-ssn">
                        <th colspan="2">Ship</th>
                        <th colspan="2">Departure</th>
                        <th colspan="2">Arrival</th>
                    </tr>
                    <tr class="bg-ssn text-ssn">
                        <th>Ship Name</th>
                        <th>Call Sign</th>

                        <th>Location</th>
                        <th>ETD</th>

                        <th>Location</th>
                        <th>ETA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ov of overviewModels">
                        <td>{{ ov.shipOverview.ship.shipName }}</td>
                        <td>{{ ov.shipOverview.ship.callSign }}</td>
                        <td>
                            <div *ngIf="ov.previousLocationOverview != null">
                                <img src="assets/images/Flags/{{ov.previousLocationOverview.country.twoCharCode.toLowerCase()}}.png" height="20px" /> 
                                {{ ov.previousLocationOverview.location.locationName }}
                            </div>
                        </td>
                        <td>{{ ov.portCall.previousLocationEtd | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                        <td>
                            <img src="assets/images/Flags/{{ov.locationOverview.country.twoCharCode.toLowerCase()}}.png" height="20px" /> 
                            {{ ov.locationOverview.location.locationName }}
                        </td>
                        <td>{{ ov.portCall.locationEta | date: 'dd-MM-yyyy HH:mm:ss' }} </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>