<div [ngSwitch]="selectedComponent">
  <app-register-user *ngSwitchCase="'Register User'"></app-register-user>
  <app-edit-user *ngSwitchCase="'Edit User'"></app-edit-user>
  <app-register-ship *ngSwitchCase="'Register Ship'"></app-register-ship>
  <app-register-location *ngSwitchCase="'Register Location'"></app-register-location>
  <app-register-company *ngSwitchCase="'Register Company'"></app-register-company>
  <app-port-call *ngSwitchCase="'Port Call'"></app-port-call>
  <app-registration *ngSwitchCase="'Register Port Call'"></app-registration>
  <p *ngSwitchDefault>This is the default page</p>
</div>