<ssn-card title="Confirm Port Call Details" icon="checkmark.png">
  <!-- <div *ngIf="!reportingFound|| ! || !dateTimeFound" class="text-center">
    <p *ngIf="!shipFound" class="no-wrap mb-0">No ship selected.</p>
    <p *ngIf="!locationFound" class="no-wrap mb-0">No location selected.</p>
    <p *ngIf="!dateTimeFound" class="no-wrap">ETA and ETD not set.</p>
    <button class="btn btn-ssn" disabled="true">
      <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Register Port Call</button>
  </div> -->

  <div *ngIf="crewPassengersAndDimensionsFound || cargoFound">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-ssn text-ssn text-center">
            <th *ngIf="crewPassengersAndDimensionsFound" colspan="4">Crew, Passengers and Dimensions</th>
            <th *ngIf="cargoFound" colspan="2">Cargo</th>
          </tr>
          <tr class="bg-ssn text-ssn">
            <th *ngIf="crewPassengersAndDimensionsFound">Number of crew</th>
            <th *ngIf="crewPassengersAndDimensionsFound">Number of passengers</th>
            <th *ngIf="crewPassengersAndDimensionsFound">Actual draught</th>
            <th *ngIf="crewPassengersAndDimensionsFound">Air draught</th>
            <th *ngIf="cargoFound">Gross weight</th>
            <th *ngIf="cargoFound">Gross gross weight</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngIf="crewPassengersAndDimensionsFound">{{ crewPassengersAndDimensionsModel.numberOfCrew }}</td>
            <td *ngIf="crewPassengersAndDimensionsFound">{{ crewPassengersAndDimensionsModel.numberOfPassengers }}</td>
            <td *ngIf="crewPassengersAndDimensionsFound">{{ crewPassengersAndDimensionsModel.actualDraught }}</td>
            <td *ngIf="crewPassengersAndDimensionsFound">{{ crewPassengersAndDimensionsModel.airDraught }}</td>
            <td *ngIf="cargoFound">{{ cargoModel.cargoGrossWeight }}</td>
            <td *ngIf="cargoFound">{{ cargoModel.cargoGrossGrossWeight }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-ssn" (click)="registerDetails()">
      <img src="assets/images/VoyageIcons/128x128/white/checkmark.png" height="24px" /> Register Port Call Details</button>
  </div>
</ssn-card>