::-webkit-input-placeholder { 
    font-style: italic; 
 } 
 :-moz-placeholder { 
    font-style: italic;   
 } 
 ::-moz-placeholder { 
    font-style: italic;   
 } 
 :-ms-input-placeholder {   
    font-style: italic;  
 }

.btn-add-org {
	margin-left: 1em;
}

@media only screen and (max-width : 425px) {

	.btn-add-org {
		margin-top: 1em !important;
	}
}