<div class="card-body">
  <ng-template #rt let-r="result" let-t="term">
    <strong *ngIf="r.name">Name: </strong> {{ r.name }}
    <strong *ngIf="r.organizationNo">Org.no.: </strong> {{ r.organizationNo }}
  </ng-template>

  <div *ngIf="!organizationSelected" class="text-center">
    <label for="search-organization">Search using organization name or organisation number</label>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <input id="search-organization" type="text" class="form-control form-control-sm mx-auto" [(ngModel)]="organizationModel"
          [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectOrganization($event)"
          placeholder="Enter search here..." />
      </div>
      <div class="col-2">
        <div *ngIf="searching">
          <img class="mx-auto" src="assets/images/animations/pax.gif" height="32px">
          <p>Searching</p>
        </div>
        <div *ngIf="searchFailed">
          <img class="mx-auto" src="assets/images/VoyageIcons/128x128/cancel.png" height="32px">
          <p>No results</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="organizationSelected" class="text-center">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-ssn text-ssn">
            <th>Organization Name</th>
            <th>Organization Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ organizationModel.name }}</td>
            <td>{{ organizationModel.organizationNo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-ssn" (click)="deselectOrganization()">
      <img src="assets/images/VoyageIcons/128x128/white/cancel.png" height="24px" /> Clear selection</button>
  </div>
</div>