<app-ssn-card header="Save Voyages" icon="save.png">
  <div *ngIf="(!prevLocationFound && prevEtdFound) || (!nextLocationFound && nextEtaFound)" class="text-center mb-3">
    <p *ngIf="!prevLocationFound && prevEtdFound" class="no-wrap mb-0">Please provide a location for Previous Port of Call</p>
    <p *ngIf="!nextLocationFound && nextEtaFound" class="no-wrap mb-0">Please provide a location for Next Port of Call</p>
  </div>
  <div *ngIf="true">
    <div class="text-center" *ngIf="!dataIsPristine">
      <button class="btn btn-ssn" (click)="savePrevAndNextPoc()">
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span>Save Voyages</span>
      </button>
    </div>

    <div class="text-center" *ngIf="dataIsPristine">
      <span>{{ dataIsPristineText }}</span>
      <br>
      <button class="btn btn-ssn mt-2" disabled>
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span>Save Voyages</span>
      </button>
    </div>
  </div>
</app-ssn-card>