<app-ssn-card header="Save Voyages" icon="save.png">
  <div *ngIf="(!prevLocationFound && prevEtdFound) || (!nextLocationFound && nextEtaFound) || dateSequenceError"
    class="text-center">
    <div class="alert alert-danger">
      <span>You can't save voyages.</span>
      <br>
      <span>Reason:</span>
      <li *ngIf="!prevLocationFound && prevEtdFound"><small>Previous Port of Call ETD is provided without a location</small></li>
      <li *ngIf="!nextLocationFound && nextEtaFound"><small>Next Port of Call ETA is provided without a location</small></li>
      <li *ngIf="dateSequenceError"><small>Date sequence error</small></li>
    </div>
    <button class="btn btn-ssn mt-2" disabled>
      <img src="assets/images/icons/128x128/white/save.png" height="24px">
      <span>Save Voyages</span>
    </button>
  </div>
  <div *ngIf="!((!prevLocationFound && prevEtdFound) || (!nextLocationFound && nextEtaFound) || dateSequenceError)">
    <div class="text-center" *ngIf="!dataIsPristine">
      <button class="btn btn-ssn" (click)="savePrevAndNextPoc()">
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span>Save Voyages</span>
      </button>
    </div>

    <div class="text-center" *ngIf="dataIsPristine">
      <span>{{ dataIsPristineText }}</span>
      <br>
      <button class="btn btn-ssn mt-2" disabled>
        <img src="assets/images/icons/128x128/white/save.png" height="24px">
        <span>Save Voyages</span>
      </button>
    </div>
  </div>
</app-ssn-card>